@*@model List<KraKpiOutcomeModel>*@
@model DisplayAllDataViewModel

@{
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
    var firstItem = Model.KraKpiOutcomeData.FirstOrDefault();
    decimal averageKpiAvg = 0;
    if (Model != null && Model.KraKpiOutcomeData.Any())
    {
        averageKpiAvg = Model.KraKpiOutcomeData.Average(m => m.KPI_AVG ?? 0);
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
    var firstItem = Model.FirstOrDefault();
    decimal averageKpiAvg = 0;
    if (Model != null && Model.Any())
    {
        averageKpiAvg = Model.Average(m => m.KPI_AVG ?? 0);
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
    }
}

@{
    var marksUpdateModel = new List<KraKpiOutcomeModel>();
}



<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>


<a href="@Url.Action("ViewEmpListRS", "DeptHead")" class="btn btn-primary" style="text-decoration: none;">
    <span>Search Again</span>
</a>
<br />
<br />
<br />

<style>
    .tab {
        display: inline-block;
        margin-left: 40px;
    }

    .tab2 {
        display: inline-block;
        margin-left: 45px;
    }

    .tab3 {
        display: inline-block;
        margin-left: 66px;
    }
</style>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}


@if (firstItem != null)
{
    <div>
        <p><strong>Employee Code: <span class="tab2"></span> @Model.EmployeeInfo.EmployeeCode</strong></p>
        <p><strong>Employee Name: <span class="tab"></span> @Model.EmployeeInfo.Name</strong></p>
        <p><strong>Designation: <span class="tab3"></span> @Model.EmployeeInfo.Designation</strong></p>
    </div>
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf

@*next year data*@

@if (Model != null && Model.NextYearKraKpiOutcomeData.Count > 0)
{
    <div>
        <button id="toggleButtonNY" class="btn btn-primary" onclick="toggleTableNY()">View Next Year Data</button>
        <div id="tableContainerNY" style="display: none;">
            <table class="user-info-table">
                <thead>
                    <tr>
                        <th>Next Year's KRA</th>
                        <th>Next Year's KPI</th>
                        <th>Completion Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.NextYearGroupedData)
                    {
                        var kpiCount = item.KPIIs.Count;
                        for (var i = 0; i < kpiCount; i++)
                        {
                            var kpi = item.KPIIs[i];

                            <tr>
                                @if (i == 0)
                                {
                                    <td rowspan=@kpiCount>@item.KRA</td>
                                }
                                <td>@kpi</td>

                                @if (i == 0 && item.Durations != null && item.Durations.Count > 0)
                                {
                                    <td rowspan=@kpiCount>@(item.Durations.First().Value.Date.ToString("dd-MM-yyyy"))</td>
                                }
                                else
                                {
                                    <td rowspan=@kpiCount></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <i class="fas fa-info-circle"></i>The employee has not yet submitted Next Year's data
    </div>
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
@*    special factors and training data*@

@if ((Model.SpecialFactors != null && Model.SpecialFactors.Count > 0) || (Model.TrainingNeed != null && Model.TrainingNeed.Count > 0))
{
    <button id="toggleButtonSF" class="btn btn-primary" onclick="toggleTableSF()">View Other Data</button>
    <div id="tableContainerSF" style="display: none;">
        @if (Model.SpecialFactors != null && Model.SpecialFactors.Count > 0)
        {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
            <table class="user-info-table">
                <thead>
                    <tr>
                        <th style="text-align: center;">Special Factors</th>
<<<<<<< HEAD
=======
=======
            <table class="table">
                <thead>
                    <tr>
                        <th>Special Factors</th>
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
                    </tr>
                </thead>
                <tbody>
                    @foreach (var specialFactorItem in Model.SpecialFactors)
                    {
                        <tr>
<<<<<<< HEAD
                            <td style="text-align: center;">@specialFactorItem.Description</td>
=======
<<<<<<< HEAD
                            <td style="text-align: center;">@specialFactorItem.Description</td>
=======
                            <td>@specialFactorItem.Description</td>
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
                        </tr>
                    }
                </tbody>
            </table>
        }

        <br />

        @if (Model.TrainingNeed != null && Model.TrainingNeed.Count > 0)
        {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
            <table class="user-info-table">
                <thead>
                    <tr>
                        <th style="text-align: center;" colspan="4">Training Data</th>
<<<<<<< HEAD
=======
=======
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4">Training Data</th>
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
                    </tr>
                    <tr>
                        <th>Title</th>
                        <th>By When</th>
                        <th>Training Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trainingNeedItem in Model.TrainingNeed)
                    {
                        <tr>
                            <td>@trainingNeedItem.Title</td>
                            <td>@(trainingNeedItem.By_When.HasValue ? trainingNeedItem.By_When.Value.Date.ToString("dd-MM-yyyy") : "")</td>
                            <td>@Html.DisplayFor(model => trainingNeedItem.Train_Type)</td>
                            <td>@trainingNeedItem.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}

@*else
    {
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-info-circle"></i>No other data found
        </div>
    }*@

<br />

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
@*<button id="revertEmployeeButton" class="btn btn-primary @(Model.ApprovalSent == false ? "disabled" : "")" data-regid="@ViewBag.RegId">Revert Employee</button>*@
<br />
<br />

<<<<<<< HEAD
=======
=======
@*<button id="revertEmployeeButton" class="btn btn-primary" data-regid="@ViewBag.RegId">Revert Employee</button>*@
<button id="revertEmployeeButton" class="btn btn-primary @(Model.ApprovalSent == false ? "disabled" : "")" data-regid="@ViewBag.RegId">Revert Employee</button>
<br />
<br />

<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
=======
=======
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
<button id="revertEmployeeButton" class="btn btn-primary" data-regid="@ViewBag.RegId">Revert Employee</button>
<br />
<br />

>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
@if (Model != null && Model.KraKpiOutcomeData.Count > 0)
{
    <div class="table-responsive">
        @using (Html.BeginForm("UpdateMarks", "ReportSuper", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>KRA</th>
                        <th>KPI</th>
                        <th>Outcome</th>
                        <th>Remarks</th>
                        <th>Performance Marks</th>
                        <th>Average</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.KraKpiOutcomeData.Count;)
                    {
                        var kra = Model.KraKpiOutcomeData[i].KRA;
                        var kraCount = Model.KraKpiOutcomeData.Count(m => m.KRA == kra);
                        for (int j = 0; j < kraCount; j++)
                        {
                            var marksModel = new KraKpiOutcomeModel
                            {
                                Outcome = Model.KraKpiOutcomeData[i].Outcome,
                                Marks = 0
                            };
                            marksUpdateModel.Add(marksModel);

                            <tr>
                                @if (j == 0)
                                {
                                    <td rowspan="@kraCount">@Model.KraKpiOutcomeData[i].KRA</td>
                                }
<<<<<<< HEAD
                                <td>@Model.KraKpiOutcomeData[i].KPI</td>
                                <td>@Model.KraKpiOutcomeData[i].Outcome</td>
                                <td>
                                    <input type="text" name="model[@i].Remarks" value="@Model.KraKpiOutcomeData[i].Remarks" />
                                </td>
                                <td>
                                    <select name="model[@i].SelectedMarks" class="marks-select" data-kra="@Model.KraKpiOutcomeData[i].KRA" data-outcome="@Model.KraKpiOutcomeData[i].Outcome">
                                        <option value="0" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 0 ? "selected" : "")>0</option>
                                        <option value="1" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 1 ? "selected" : "")>1</option>
                                        <option value="2" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 2 ? "selected" : "")>2</option>
                                        <option value="3" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 3 ? "selected" : "")>3</option>
                                        <option value="4" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 4 ? "selected" : "")>4</option>
                                        <option value="5" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 5 ? "selected" : "")>5</option>
=======
<<<<<<< HEAD
                                <td>@Model.KraKpiOutcomeData[i].KPI</td>
                                <td>@Model.KraKpiOutcomeData[i].Outcome</td>
                                <td>
                                    <input type="text" name="model[@i].Remarks" value="@Model.KraKpiOutcomeData[i].Remarks" />
                                </td>
                                <td>
                                    <select name="model[@i].SelectedMarks" class="marks-select" data-kra="@Model.KraKpiOutcomeData[i].KRA" data-outcome="@Model.KraKpiOutcomeData[i].Outcome">
                                        <option value="0" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 0 ? "selected" : "")>0</option>
                                        <option value="1" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 1 ? "selected" : "")>1</option>
                                        <option value="2" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 2 ? "selected" : "")>2</option>
                                        <option value="3" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 3 ? "selected" : "")>3</option>
                                        <option value="4" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 4 ? "selected" : "")>4</option>
                                        <option value="5" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 5 ? "selected" : "")>5</option>
=======
<<<<<<< HEAD
                                <td>@Model.KraKpiOutcomeData[i].KPI</td>
                                <td>@Model.KraKpiOutcomeData[i].Outcome</td>
                                <td>
                                    <input type="text" name="model[@i].Remarks" value="@Model.KraKpiOutcomeData[i].Remarks" />
                                </td>
                                <td>
                                    <select name="model[@i].SelectedMarks" class="marks-select" data-kra="@Model.KraKpiOutcomeData[i].KRA" data-outcome="@Model.KraKpiOutcomeData[i].Outcome">
                                        <option value="0" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 0 ? "selected" : "")>0</option>
                                        <option value="1" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 1 ? "selected" : "")>1</option>
                                        <option value="2" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 2 ? "selected" : "")>2</option>
                                        <option value="3" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 3 ? "selected" : "")>3</option>
                                        <option value="4" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 4 ? "selected" : "")>4</option>
                                        <option value="5" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 5 ? "selected" : "")>5</option>
=======
<<<<<<< HEAD
                                <td>@Model.KraKpiOutcomeData[i].KPI</td>
                                <td>@Model.KraKpiOutcomeData[i].Outcome</td>
                                <td>
                                    <input type="text" name="model[@i].Remarks" value="@Model.KraKpiOutcomeData[i].Remarks" />
                                </td>
                                <td>
                                    <select name="model[@i].SelectedMarks" class="marks-select" data-kra="@Model.KraKpiOutcomeData[i].KRA" data-outcome="@Model.KraKpiOutcomeData[i].Outcome">
                                        <option value="0" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 0 ? "selected" : "")>0</option>
                                        <option value="1" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 1 ? "selected" : "")>1</option>
                                        <option value="2" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 2 ? "selected" : "")>2</option>
                                        <option value="3" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 3 ? "selected" : "")>3</option>
                                        <option value="4" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 4 ? "selected" : "")>4</option>
                                        <option value="5" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 5 ? "selected" : "")>5</option>
=======
<<<<<<< HEAD
                                <td>@Model.KraKpiOutcomeData[i].KPI</td>
                                <td>@Model.KraKpiOutcomeData[i].Outcome</td>
                                <td>
                                    <input type="text" name="model[@i].Remarks" value="@Model.KraKpiOutcomeData[i].Remarks" />
                                </td>
                                <td>
                                    <select name="model[@i].SelectedMarks" class="marks-select" data-kra="@Model.KraKpiOutcomeData[i].KRA" data-outcome="@Model.KraKpiOutcomeData[i].Outcome">
                                        <option value="0" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 0 ? "selected" : "")>0</option>
                                        <option value="1" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 1 ? "selected" : "")>1</option>
                                        <option value="2" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 2 ? "selected" : "")>2</option>
                                        <option value="3" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 3 ? "selected" : "")>3</option>
                                        <option value="4" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 4 ? "selected" : "")>4</option>
                                        <option value="5" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 5 ? "selected" : "")>5</option>
=======
<<<<<<< HEAD
                                <td>@Model.KraKpiOutcomeData[i].KPI</td>
                                <td>@Model.KraKpiOutcomeData[i].Outcome</td>
                                <td>
                                    <input type="text" name="model[@i].Remarks" value="@Model.KraKpiOutcomeData[i].Remarks" />
                                </td>
                                <td>
                                    <select name="model[@i].SelectedMarks" class="marks-select" data-kra="@Model.KraKpiOutcomeData[i].KRA" data-outcome="@Model.KraKpiOutcomeData[i].Outcome">
                                        <option value="0" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 0 ? "selected" : "")>0</option>
                                        <option value="1" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 1 ? "selected" : "")>1</option>
                                        <option value="2" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 2 ? "selected" : "")>2</option>
                                        <option value="3" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 3 ? "selected" : "")>3</option>
                                        <option value="4" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 4 ? "selected" : "")>4</option>
                                        <option value="5" @(Model.KraKpiOutcomeData[i].Marks_Achieved == 5 ? "selected" : "")>5</option>
=======
                                <td>@Model[i].KPI</td>
                                <td>@Model[i].Outcome</td>
                                <td><input type="text" name="@("model[" + i + "].Remarks")" value="@Model[i].Remarks" /></td>
                                <td>
                                    <select name="@("model[" + i + "].SelectedMarks")" class="marks-select" data-kra="@Model[i].KRA" data-outcome="@Model[i].Outcome">
                                        @if (@Model[i].Marks_Achieved == 0)
                                        {
                                            <option value="0" selected>0</option>
                                        }
                                        else
                                        {
                                            <option value="0">0</option>
                                        }


                                        @if (@Model[i].Marks_Achieved == 1)
                                        {
                                            <option value="1" selected>1</option>
                                        }
                                        else
                                        {
                                            <option value="1">1</option>
                                        }

                                        @if (@Model[i].Marks_Achieved == 2)
                                        {
                                            <option value="2" selected>2</option>
                                        }

                                        else
                                        {
                                            <option value="2">2</option>
                                        }

                                        @if (@Model[i].Marks_Achieved == 3)
                                        {
                                            <option value="3" selected>3</option>
                                        }

                                        else
                                        {
                                            <option value="3">3</option>
                                        }

                                        @if (@Model[i].Marks_Achieved == 4)
                                        {
                                            <option value="4" selected>4</option>
                                        }

                                        else
                                        {
                                            <option value="4">4</option>
                                        }

                                        @if (@Model[i].Marks_Achieved == 5)
                                        {
                                            <option value="5" selected>5</option>
                                        }

                                        else
                                        {
                                            <option value="5">5</option>
                                        }

>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
                                    </select>
                                    <input type="hidden" name="model[@i].Outcome" value="@Model.KraKpiOutcomeData[i].Outcome" />
                                    <input type="hidden" name="model[@i].KPI_ID" value="@Model.KraKpiOutcomeData[i].KPI_ID" />
                                </td>
                                @if (j == 0)
                                {
                                    <td rowspan="@kraCount">
                                        <input type="text" class="average-input" value="@Model.KraKpiOutcomeData[i].AVG_Marks_Achieved" data-kra="@Model.KraKpiOutcomeData[i].KRA" data-outcome="@Model.KraKpiOutcomeData[i].Outcome" readonly />
                                    </td>
                                }
                            </tr>
                            i++;
                        }
                    }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf

                    <tr>
                        <td colspan="5" style="text-align: center; background-color: Highlight; color: white; height:30px;">
                            <strong>Average Cumulative Score of KRA’s</strong>
                        </td>
                        <td style="text-align: center; background-color: Highlight; color: white;">
                            <strong>@averageKpiAvg</strong>
                        </td>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
                    <tr>
<<<<<<< HEAD
                        <td colspan="5" style="text-align: center; background-color: Highlight; color: white; height:30px;">
=======
                        <td colspan="5" style="text-align: center; background-color: Highlight; color: white;">
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
                            <strong>
                                Average Cumulative Score of KRA’s
                            </strong>
                        </td>
                        <td style="text-align: center; background-color: Highlight; color: white;"><strong>@averageKpiAvg</strong></td>
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Save Marks" />
        }
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">No data found!</div>
}

<br />
<br />

@using (Html.BeginForm("SaveReportSuperComment", "ReportSuper", new { regId = ViewBag.RegId }, FormMethod.Post, new { id = "reportSuperForm" }))
{
    <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />
    @*@Html.HiddenFor(m => m[0].REG_ID)*@
    <div style="padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <label for="comment" style="font-weight: bold; color: #333;">Comment:</label><br>
        <textarea id="comment" name="comment" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; min-height: 80px; resize: vertical;"></textarea>
        <br>
        <input type="submit" value="Submit & Lock" style=" color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;" onclick="return validateForm()">
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

@section scripts {
    <script>
        $(document).ready(function () {

            $("#revertEmployeeButton").click(function () {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf

                if ($(this).hasClass("disabled")) {
                    return;
                }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
                var regId = $(this).data("regid");

                $.ajax({
                    url: '@Url.Action("RevertEmployee", "ReportSuper")',
                    type: 'POST',
                    data: { regId: regId },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('An error occurred while reverting the approval!');
                    }
                });
            });

            var kraAverages = {};
            $(".marks-select").on("change", function () {
                var kra = $(this).data("kra");
                var outcome = $(this).data("outcome");
                var selectedValue = parseInt($(this).val());

                console.log("KRA:", kra);
                console.log("Outcome:", outcome);
                console.log("Selected Value:", selectedValue);

                calculateAverage(kra);
            });

            function calculateAverage(kra) {
                var totalMarks = 0;
                var rowCount = 0;

                $(".marks-select[data-kra='" + kra + "']").each(function () {
                    var marks = parseInt($(this).val());
                    if (!isNaN(marks)) {
                        totalMarks += marks;
                        rowCount++;
                    }
                });

                if (rowCount > 0) {
                    var average = totalMarks / rowCount;
                    console.log("Average for KRA " + kra + ": " + average.toFixed(2));

                    kraAverages[kra] = average;

                    $(".average-input[data-kra='" + kra + "']").val(average.toFixed(2));
                }
            }

        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            alert(successMessage);
        }
        });

        $(function() {
            $('#reportSuperForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();

                $.ajax({
                    url: '@Url.Action("SaveReportSuperComment", "ReportSuper")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        if (response.success) {
                            alert(response.message);
                        } else {
                            alert(response.message);
                        }
/*                        alert(JSON.stringify(response));*/
                    },
                    error: function() {
                        alert('An error occurred while saving the comment!');
                    }
                });
            });
        });

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
        // comment valudation

        function validateForm() {
            var comment = document.getElementById('comment').value.trim();
            if (comment === "") {
                alert("Comment cannot be empty");
                return false;
            }
            return true;
        }

<<<<<<< HEAD
=======
=======
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
        // next year table toggle

        function toggleTableNY() {
            var tableContainer = document.getElementById("tableContainerNY");
            var toggleButton = document.getElementById("toggleButtonNY");
            if (tableContainer.style.display === "none") {
                tableContainer.style.display = "block";
                toggleButton.textContent = "Minimize Data";
            } else {
                tableContainer.style.display = "none";
                toggleButton.textContent = "View Next Year Data";
            }
        }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf

        // other data table toggle

        function toggleTableSF() {
            var tableContainer = document.getElementById("tableContainerSF");
            var toggleButton = document.getElementById("toggleButtonSF");
            if (tableContainer.style.display === "none") {
                tableContainer.style.display = "block";
                toggleButton.textContent = "Minimize Data";
            } else {
                tableContainer.style.display = "none";
                toggleButton.textContent = "View Other Data";
            }
        }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
    </script>
}
