@model DisplayAllDataViewModel

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

<style>
    table thead th {
        height: 1px !important;
    }

    tbody tr:not(:last-child) {
        margin-bottom: 10px;
    }
</style>

<h3 style="text-align:center;">PREVIEW DATA</h3>
<br />

<div class="dropdown-container">

    <label class="dropdown-label" for="taxPeriodDropdownMV"> Session:</label>
    <label class="form-control" for="taxPeriodDropdownMV"> @Session["TaxPeriod"]</label>
</div>

<div class="card" style=" background-color: transparent">
    <div id="menu_tab">

        <!-- Selected by default -->

        <input id="1" name="r" type="radio" />
        <label class="collapse" for="1"><a href="@Url.Action("DisplayKrasAndKpis", "Home")"> 1. Outcome Entry</a></label>
        <div></div>

        <input id="2" name="r" type="radio" />
        <label class="collapse" for="2"> <a href="@Url.Action("SpecialFactors", "Employee")"> 2. Special Factor</a></label>
        <div></div>

        <input id="3" name="r" type="radio" />
        <label class="collapse" for="1"><a href="@Url.Action("TrainingNeed", "Employee")"> 3. Training</a></label>
        <div></div>

        <input id="3" name="r" type="radio" checked />
        <label class="collapse" for="1"><a id="trainingNeedBtn" href="@Url.Action("DisplayALlData", "Employee")">4. Preview & Submit</a></label>
        <div></div>
    </div>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>Selected KRA</th>
            <th>Selected KPI</th>
            <th>KPI Outcome</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.GroupedData.Count > 0)
        {
            foreach (var item in Model.GroupedData)
            {
                var kpiCount = item.KPIIs.Count;
                for (var i = 0; i < kpiCount; i++)
                {
                    var kpi = item.KPIIs[i];
                    <tr>
                        @if (i == 0)
                        {
                            <td rowspan=@kpiCount>@item.KRA</td>
                        }
                        <td>@kpi</td>
                        <td>
                            @{
                                var stepDataForKPI = Model.StepData.FirstOrDefault(s => s.KPI == kpi && s.KRA == item.KRA);
                                var kpiOutcome = stepDataForKPI != null ? stepDataForKPI.KPI_OUTCOME : "";
                            }
                            @kpiOutcome
                        </td>
                    </tr>
                }
                @*                <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>*@
            }
        }
    </tbody>
</table>

<br />



@if (Model.SpecialFactors != null && Model.SpecialFactors.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Special Factors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var specialFactorItem in Model.SpecialFactors)
            {
                <tr>
                    <td>@specialFactorItem.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

<br />

@if (Model.TrainingNeed != null && Model.TrainingNeed.Count > 0)
{

    <table class="table">

        <thead>
            <tr>
                <th>Title</th>
                <th>By When</th>
                <th>Training Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trainingNeedItem in Model.TrainingNeed)
            {
                <tr>
                    <td>@trainingNeedItem.Title</td>
                    <td>@(trainingNeedItem.By_When.HasValue ? trainingNeedItem.By_When.Value.Date.ToString("dd-MM-yyyy") : "")</td>
                    <td>@Html.DisplayFor(model => trainingNeedItem.Train_Type)</td>
                    <td>@trainingNeedItem.Status</td>
                </tr>
            }
        </tbody>
    </table>
}



<br />
<form id="submitForm" action="@Url.Action("SubmitForApproval", "Employee")" method="post">

    @if (@ViewBag.ApprovalSent)
    {
        <div class="alert alert-danger" role="alert">
            <button type="submit" hidden="hidden" class="btn btn-primary" id="submitButton">Send For Approval</button>
            <i class="fas fa-info-circle"></i> Already Sent for Approval
        </div>
    }
    else
    {
        <button class="btn btn-primary" id="submitButton" type="submit">Send For Approval</button>
    }
    
</form>

@section scripts {
    <script>
        $(function () {
            $('#submitForm').submit(function (event) {
                event.preventDefault();

                if (confirm('Are you sure you want to send this data for approval?')) {
                    $.ajax({
                        url: '@Url.Action("SubmitForApproval", "Employee")',
                        type: 'POST',
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                window.location.href = '@Url.Action("DisplayAllData", "Employee")';
                            } else {
                                alert(response.message);
                            }
                        }
                    });
                }
            });
        });
    </script>
}



