@model List<KraKpiOutcomeModel>

@{
    var sessionIds = ViewBag.SessionIds as List<string>;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

<style>
    td { /*design for selectedItemsTable table*/
        font-size: 12px !important;
        max-width: 200px !important;
        overflow: hidden !important;
        /*text-overflow: ellipsis;*/ /* Display ... for overflowed text */
        white-space: normal !important;
    }

    .dropdown-container .form-control.custom-select option {
        width: 100% !important;
        white-space: normal !important;
        word-wrap: break-word !important;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    #selectedInfo, #userAddedInfo {
        flex: 1; 
        padding: 15px;
    }


</style>


<!-- modal button -->
<button style="float:right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    NEW
</button>
<br />

<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Outcome</h4>
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("InsertKpiOutcomes", "Home", FormMethod.Post, new { id = "outcomeForm" }))
                {
                    <div class="dropdown-container">
                        <label class="dropdown-label" for="taxPeriodDropdown">Choose Session:</label>
                        <br />
                        <select id="taxPeriodDropdown" class="form-control custom-select">
                            @foreach (var taxPeriod in ViewBag.TopTaxPeriods)
                            {
                                <option value="@taxPeriod">@taxPeriod</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" id="selectedTaxPeriod" name="selectedTaxPeriod" />

                    <div class="dropdown-container">
                        <label class="dropdown-label" for="selectedKRA">Select KRA:</label>
                        <br />
                        @Html.DropDownList("selectedKRA", new SelectList(Model.Select(x => x.KRA).Distinct()), new { @class = "form-control custom-select" })
                    </div>

                    <div class="dropdown-container">
                        <label class="dropdown-label" for="selectedKPI">Select KPI:</label>
                        <br />
                        <div id="kpiDropdown" class="form-control"></div>
                    </div>

                    <div class="outcome-field">
                        <label class="dropdown-label" for="kpiOutcome">KPI Outcome:</label>
                        <br />
                        <div id="kpiOutcomeFields" class="form-control"></div>
                    </div>

                    <input type="submit" value="Add" class="submit-btn" />
                }
            </div>
            <div class="modal-footer" id="modalFooter">

            </div>
        </div>
    </div>
</div>


<div class="dropdown-container">
    <label class="dropdown-label" for="taxPeriodDropdownMV">Choose Session:</label>
    <br />
    <select id="taxPeriodDropdownMV" class="form-control custom-select">
        @foreach (var taxPeriod in ViewBag.TopTaxPeriods)
        {
            <option value="@taxPeriod">@taxPeriod</option>
        }
    </select>
</div>
<input type="hidden" id="selectedTaxPeriod" name="selectedTaxPeriod" />


<div class="container">
    <div id="selectedInfo">
        <table id="selectedItemsTable" class="table">
            <thead>
                <tr>
                    <th>List of KRA</th>
                    <th>List of KPI</th>
                    <th>List of KPI Outcome</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.KRA</td>
                        <td>@item.KPI</td>
                        <td>@(item.KPI_OUTCOME != null ? item.KPI_OUTCOME : "")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div id="userAddedInfo">
        <h3>Selected KRA/ KPI/ KPI OUTCOME</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Selected KRA</th>
                    <th>Selected KPI</th>
                    <th>KPI Outcome</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Session["UserAddedData"] != null)
                {
                    foreach (var item in Session["UserAddedData"] as List<KraKpiOutcomeModel>)
                    {
                        <tr>
                            <td>@item.KRA</td>
                            <td>@item.KPI</td>
                            <td>@(item.KPI_OUTCOME != null ? item.KPI_OUTCOME : "")</td>
                            <td style="text-align: center; vertical-align: middle !important;">
                                <form action="@Url.Action("DeleteSession", "Home")" method="post">
                                    <input type="hidden" name="kra" value="@item.KRA" />
                                    <input type="hidden" name="kpi" value="@item.KPI" />
                                    <input type="hidden" name="kpiOutcome" value="@item.KPI_OUTCOME" />
                                    <button class="btn btn-danger" type="submit">
                                        <i class="ti-trash">

                                        </i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br /><br />
              <div class="form-group" id="nextButtonContainer">
                  <div class="col-md-offset-2 col-md-10">
                      <a id="nextButton" href="@Url.Action("SpecialFactors", "Employee")" class="btn btn-primary submit-btn">Special Factors</a>
                  </div>
              </div>

    </div>
    </div>





    @section scripts {
        <script>
        $(function () {
            $('#taxPeriodDropdownMV').change(function () {
                var selectedSession = $(this).val();

                $.ajax({
                    url: '@Url.Action("GetFilteredData", "Home")',
                    type: 'GET',
                    data: { selectedSession: selectedSession },
                    success: function (response) {
                        $('#selectedItemsTable tbody').empty();

                        response.forEach(function (item) {
                            var newRow = '<tr>' +
                                '<td>' + item.KRA + '</td>' +
                                '<td>' + item.KPI + '</td>' +
                                '<td>' + (item.KPI_OUTCOME != null ? item.KPI_OUTCOME : "") + '</td>' +
                                '</tr>';

                            $('#selectedItemsTable tbody').append(newRow);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

            $(function () {
                $('#selectedKRA').change(function () {
                    var selectedKRA = $(this).val();
                    var kraKpiData = @Html.Raw(Json.Encode(Model));

                    // filter KPI based on selected KRA
                    var filteredKPIs = kraKpiData.filter(function (item) {
                        return item.KRA === selectedKRA;
                    });

                    // KPI dropdown list
                    var kpiDropdown = '<select id="selectedKPI" name="selectedKPI">';
                    filteredKPIs.forEach(function (item) {
                        kpiDropdown += '<option value= "' + item.KPI + '">' + item.KPI + '</option>';
                    });
                    kpiDropdown += '</select>';

                    $('#kpiDropdown').html(kpiDropdown);

                    $('#selectedKPI').trigger('change');
                });

                // change event for dynamically generated KPI dropdown
                $(document).on('change', '#selectedKPI', function () {
                    var selectedKPI = $(this).val();

                    $('#kpiOutcomeFields').empty();
                    $('#kpiOutcomeFields').append('<div><label></label><input type="text" name="kpiOutcomes" /></div>');
                });
            });

            // Update hidden field with selected tax period value
            $('#taxPeriodDropdown').change(function () {
                var selectedTaxPeriod = $(this).val();
                $('#selectedTaxPeriod').val(selectedTaxPeriod);
            });

            // modal validation
            $('#outcomeForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: formData,
                    success: function (response) {
                        $('#myModal .modal-body').html('<div class="alert alert-success">Outcome added successfully!</div>');
                        $('#myModal .modal-footer').html('<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>');
                    },
                    error: function (xhr, status, error) {
                        $('#myModal .modal-body').html('<div class="alert alert-danger">Could not add outcome!</div>');
                        $('#myModal .modal-footer').html('<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>');
                    }
                });
            });

            // Reload page when modal is closed
            $('#myModal').on('hidden.bs.modal', function () {
                if ($('#myModal .alert-success').length) {
                    window.location.reload();
                }
                else if ($('#myModal .alert-danger').length) {
                    window.location.reload();
                }
            });
        });

            $(document).ready(function () {
            var userAddedData = @(Session["UserAddedData"] == null ? "false" : "true");
            if (!userAddedData) {
                $('#nextButtonContainer').hide();
            }
        });
        </script>
    }


