@model DisplayAllDataViewModel

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

@{
    List<KraKpiOutcomeModel> userAddedData = new List<KraKpiOutcomeModel>();

    if (Model.KraKpiOutcome != null)
    {
        userAddedData.Add(Model.KraKpiOutcome);
    }

    if (Model.KraKpiOutcomes != null)
    {
        userAddedData.AddRange(Model.KraKpiOutcomes);
    }
}



<h3 style="text-align:center;">Confirm Submission</h3>
<br />

<table class="table">
    <tbody>
        <tr>
            <td colspan="3"><h4>KRA/KPI Outcome</h4></td>
        </tr>
        @if (Model.KraKpiOutcomes != null)
        {
            <tr>
                <td colspan="3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Selected KRA</th>
                                <th>Selected KPI</th>
                                <th>KPI Outcome</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var outcome in Model.KraKpiOutcomes)
                            {
                                <tr>
                                    <td>@outcome.KRA</td>
                                    <td>@outcome.KPI</td>
                                    <td>@outcome.KPI_OUTCOME</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="3"><p>No KRA/KPI Outcomes found</p></td>
            </tr>
        }
    </tbody>
</table>

@if (Model.SpecialFactors != null)
{
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">Special Factors</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Description:</strong></td>
                <td>@Model.SpecialFactors.Description</td>
            </tr>
        </tbody>
    </table>
}

@if (Model.TrainingNeed != null)
{
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">Training Need</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Title:</strong></td>
                <td>@Model.TrainingNeed.Title</td>
            </tr>
            <tr>
                <td><strong>By When:</strong></td>
                <td>@Model.TrainingNeed.By_When</td>
            </tr>
            <tr>
                <td><strong>Training Type:</strong></td>
                <td>@Html.DisplayFor(model => model.TrainingNeed.Train_Type)</td>
            </tr>
            <tr>
                <td><strong>Status:</strong></td>
                <td>@Model.TrainingNeed.Status</td>
            </tr>
        </tbody>
    </table>
}

<br />
<form id="submitForm">
    <input type="hidden" id="isSubmitted" value="false" />
    <button type="submit" class="btn btn-primary">Send For Approval</button>
</form>

@section scripts {
    <script>
    $(function () {
        $('#submitForm').submit(function (event) {
            event.preventDefault();
            var isSubmitted = $('#isSubmitted').val();
            if (isSubmitted === 'false') {
                if (confirm('Are you sure you want to send this data for approval?')) {
                    alert('Success! Data sent for approval');
                    window.location.href = '@Url.Action("Dashboard", "Home")';
                    $('#isSubmitted').val('true');
                }
            } else {
                alert('You have already sent the data for submission!');
            }
        });
    });
    </script>
}

                    @* ************************** APPROACH USING localStorage **************************** *@

@*@section scripts {
        <script>
            $(function () {

            @if (ViewBag.ClearSubmissionStatus == true)
            {
                @:clearSubmissionStatus();
            }

            function clearSubmissionStatus() {
                localStorage.removeItem('isSubmitted');
                }

                clearSubmissionStatus();

            $('#submitForm').submit(function (event) {
                event.preventDefault();
                var isSubmitted = localStorage.getItem('isSubmitted');
                if (!isSubmitted) {
                    if (confirm('Are you sure you want to send this data for approval?')) {
                        alert('Success! Data sent for approval');
                        window.location.href = '@Url.Action("Dashboard", "Home")';
                        localStorage.setItem('isSubmitted', true);
                    }
                } else {
                    alert('You have already sent the data for submission!');
                }
            });
        });
        </script>
    }*@

