@model List<KraKpiViewModel>

@{
    var sessionIds = ViewBag.SessionIds as List<string>;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

<style>
    td { /*design for selectedItemsTable table*/
        font-size: 12px !important;
        max-width: 200px !important;
        overflow: hidden !important;
        /*text-overflow: ellipsis;*/ /* Display ... for overflowed text */
        white-space: normal !important;
    }

    .dropdown-container .form-control.custom-select option {
        width: 100% !important;
        white-space: normal !important;
        word-wrap: break-word !important;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    #selectedInfo, #userAddedInfo {
        flex: 1;
        padding: 15px;
    }

    .card-body {
        @* background: linear-gradient(to right, #78a7ca, #accbee);
        *@ background: linear-gradient(to right, #d9e8f5, #e6f1fb);
        padding: 8px;
        border-radius: 8px;
        height: 70px;
    }

    .card {
        width: fit-content;
        margin: auto;
        margin-top: 10px;
    }

    .card-container {
        display: flex;
        justify-content: center;
    }

    .btn {
        margin-bottom: 10px;
    }

    .btn {
        margin-bottom: 10px;
        margin-right: 10px;
    }
</style>


@if (ViewBag.TopTaxPeriods != null)
{
    <div class="dropdown-container">
        <label class="dropdown-label" for="taxPeriodDropdownMV">Choose Session:</label>
        <br />
        <select id="taxPeriodDropdownMV" class="form-control custom-select">
            <option value="" @(ViewBag.SelectedTaxPeriod == null ? "selected" : "")>Choose a Session</option>
            @foreach (var taxPeriod in ViewBag.TopTaxPeriods)
            {
                <option value="@taxPeriod" @(ViewBag.SelectedTaxPeriod == taxPeriod ? "selected" : "")>@taxPeriod</option>
            }
        </select>
    </div>
    <input type="hidden" id="selectedTaxPeriod" name="selectedTaxPeriod" value="@ViewBag.SelectedTaxPeriod" />
}
else
{
    <p>No session loaded</p>
}
<br />


@*      new navigation buttons   *@

<div class="card" style=" background-color: transparent">
    <div id="menu_tab">

        <!-- Selected by default -->

        <input id="1" name="r" type="radio" checked />
        <label class="collapse" for="1"><a href="@Url.Action("DisplayKrasAndKpis", "Home")"> 1. Outcome Entry</a></label>
        <div></div>

        <input id="2" name="r" type="radio" />
        <label class="collapse" for="2"> <a id="specialFactorsBtn" href="@Url.Action("SpecialFactors", "Employee")"> 2. Special Factor</a></label>
        <div></div>

        <input id="3" name="r" type="radio" />
        <label class="collapse" for="1"><a id="trainingNeedBtn" href="@Url.Action("TrainingNeed", "Employee")"> 3. Training  & Submit</a></label>
        <div></div>
    </div>
</div>
<br />

@*main body start*@

<form method="post" action="@Url.Action("DisplayKrasAndKpis", "Home")">
    <table id="numberInputTable" border="1" style="width:150%">
        <tr>
            <th>SL</th>
            <th>KEY RESULT AREAS (KRA)<br />(Task and Personal Objectives)</th>
            <th>KEY PERFORMANCE<br /> INDICATORS (KPI) <br /> (Determine how KRA's to be<br />measured)</th>
            <th>KPI OUTCOME</th>
        </tr>

        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@item.KRA</td>
                    <td>
                        @for (int j = 0; j < item.KPIIs.Count; j++)
                        {
                            <div>
                                @item.KPIIs[j]
                            </div>
                            if (j < item.KPIIs.Count - 1)
                            {
                                <hr>
                            }
                        }
                    </td>
                    <td>
                        @for (int j = 0; j < item.KPIOutcomes.Count; j++)
                        {
                            <div>
                                <input type="hidden" name="SelectedKRA" value="@item.KRA" />
                                <input type="hidden" name="SelectedKPI" value="@item.KPIIs[j]" />
                                <input style="height:30px; width:250px;" type="text" name="KPIOutcome" value="@item.KPIOutcomes[j]" />
                            </div>
                            if (j < item.KPIOutcomes.Count - 1)
                            {
                                <hr>
                            }
                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <button class="btn btn-primary" type="submit">Save</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

@section scripts {
    <script>

        $(document).ready(function() {
    $('#taxPeriodDropdownMV').on('change', function() {
        var selectedSession = $(this).val();

        if (selectedSession) {
            $.ajax({
                url: '@Url.Action("UpdateSelectedSession", "Home")',
                type: 'POST',
                data: { selectedSession: selectedSession },
                success: function(response) {
                    if (response.success) {
                        console.log('Selected session updated successfully.');
                    } else {
                        console.error('Failed to update selected session.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', error);
                }
            });
        }
    });
});

    </script>
}




