@model List<KraKpiViewModel>

@{
    var sessionIds = ViewBag.SessionIds as List<string>;
}


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

<style>
    td { /*design for selectedItemsTable table*/
        font-size: 12px !important;
        max-width: 200px !important;
        overflow: hidden !important;
        /*text-overflow: ellipsis;*/ /* Display ... for overflowed text */
        white-space: normal !important;
    }

    .dropdown-container .form-control.custom-select option {
        width: 100% !important;
        white-space: normal !important;
        word-wrap: break-word !important;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    #selectedInfo, #userAddedInfo {
        flex: 1;
        padding: 15px;
    }

    .card-body {
        @* background: linear-gradient(to right, #78a7ca, #accbee);
        *@ background: linear-gradient(to right, #d9e8f5, #e6f1fb);
        padding: 8px;
        border-radius: 8px;
        height: 70px;
    }

    .card {
        width: fit-content;
        margin: auto;
        margin-top: 10px;
    }

    .card-container {
        display: flex;
        justify-content: center;
    }

    .btn {
        margin-bottom: 10px;
    }

    .btn {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    #printBtn {
        margin-bottom: 10px;
    }

</style>

@Html.Raw(@"
    <style>
        @media print {
            body * {
                visibility: hidden;
            }
            #printableArea, #printableArea * {
                visibility: visible;
            }
            #printableArea {
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
    </style>
")

<<<<<<< HEAD
@*<button style="float:right;" class="btn btn-primary" id="printBtn">Print</button>*@
=======
<<<<<<< HEAD
@*<button style="float:right;" class="btn btn-primary" id="printBtn">Print</button>*@
=======
<<<<<<< HEAD
@*<button style="float:right;" class="btn btn-primary" id="printBtn">Print</button>*@
=======
<<<<<<< HEAD
@*<button style="float:right;" class="btn btn-primary" id="printBtn">Print</button>*@
=======
<button style="float:right;" class="btn btn-primary" id="printBtn">Print</button>
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
<br />


@if (ViewBag.TopTaxPeriods != null)
{
    <div class="dropdown-container">
        <label class="dropdown-label" for="taxPeriodDropdownMV">Choose Session:</label>
        <br />
        <select id="taxPeriodDropdownMV" class="form-control custom-select">
            <option value="" @(ViewBag.SelectedTaxPeriod == null ? "selected" : "")>Choose a Session</option>
            @foreach (var taxPeriod in ViewBag.TopTaxPeriods)
            {
                <option value="@taxPeriod.TaxPerID">@taxPeriod.TaxPeriod</option>
            }
        </select>
    </div>
    <input type="hidden" id="selectedTaxPeriod" name="selectedTaxPeriod" value="@ViewBag.SelectedTaxPeriod" />
}
else
{
    <p>No session loaded</p>
}
<br />


@*      new navigation buttons   *@

<div class="card" style=" background-color: transparent">
    <div id="menu_tab">

        <!-- Selected by default -->

        <input id="1" name="r" type="radio" checked />
        <label class="collapse" for="1"><a href="@Url.Action("DisplayKrasAndKpis", "Home")"> 1. Outcome Entry</a></label>
        <div></div>

        <input id="2" name="r" type="radio" />
        <label class="collapse" for="2"> <a id="specialFactorsBtn" href="@Url.Action("SpecialFactors", "Employee")"> 2. Special Factor</a></label>
        <div></div>

        <input id="3" name="r" type="radio" />
        <label class="collapse" for="1"><a id="trainingNeedBtn" href="@Url.Action("TrainingNeed", "Employee")"> 3. Training</a></label>
        <div></div>

        <input id="3" name="r" type="radio" />
        <label class="collapse" for="1"><a href="@Url.Action("KraKpiNextYear", "Home")">4. Next Year's Entry</a></label>
        <div></div>

        <input id="3" name="r" type="radio" />
        <label class="collapse" for="1"><a id="trainingNeedBtn" href="@Url.Action("DisplayAllData", "Employee")">4. Preview & Submit</a></label>
        <div></div>
    </div>
</div>
<br />

<br />

@*main body start*@

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51

<form method="post" action="@Url.Action("UpdateOutcomeEntry", "Home")">
    <div id="printableArea">
        <table class="user-info-table2" id="tblMain" border="1">
            <h4>1.1 ACHIEVEMENT AGAINST AGREED OBJECTIVES </h4>
<<<<<<< HEAD

            <hr />
            <br />

            <tr>
                <th style="max-width:2px;">SL</th>
                <th>KEY RESULT AREAS (KRA)<br />(Task and Personal Objectives)</th>
                <th>KEY PERFORMANCE<br /> INDICATORS (KPI) <br /> (Determine how KRA's to be<br />measured)</th>
                <th>KPI OUTCOME</th>
            </tr>



            <tbody>
                @{
                    int sl = 1;
=======
<<<<<<< HEAD

            <hr />
            <br />

            <tr>
                <th style="max-width:2px;">SL</th>
                <th>KEY RESULT AREAS (KRA)<br />(Task and Personal Objectives)</th>
                <th>KEY PERFORMANCE<br /> INDICATORS (KPI) <br /> (Determine how KRA's to be<br />measured)</th>
                <th>KPI OUTCOME</th>
            </tr>



            <tbody>
                @{
                    int sl = 1;
=======
<<<<<<< HEAD

            <hr />
            <br />

            <tr>
                <th style="max-width:2px;">SL</th>
                <th>KEY RESULT AREAS (KRA)<br />(Task and Personal Objectives)</th>
                <th>KEY PERFORMANCE<br /> INDICATORS (KPI) <br /> (Determine how KRA's to be<br />measured)</th>
                <th>KPI OUTCOME</th>
            </tr>



            <tbody>
                @{
                    int sl = 1;
=======

            <hr />
            <br />

            <tr>
                <th style="max-width:2px;">SL</th>
                <th>KEY RESULT AREAS (KRA)<br />(Task and Personal Objectives)</th>
                <th>KEY PERFORMANCE<br /> INDICATORS (KPI) <br /> (Determine how KRA's to be<br />measured)</th>
                <th>KPI OUTCOME</th>
            </tr>



            <tbody>
                @{
                    int sl = 1;
=======

<form method="post" action="@Url.Action("UpdateOutcomeEntry", "Home")">
<<<<<<< HEAD
    <div id="printableArea">
        <table class="user-info-table2" id="tblMain" border="1">
            <h4>1.1 ACHIEVEMENT AGAINST AGREED OBJECTIVES </h4>
=======
    <table class="user-info-table2" id="tblMain" border="1">
        <h4>1.1 ACHIEVEMENT AGAINST AGREED OBJECTIVES </h4>
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430

            <hr />
            <br />

            <tr>
                <th style="max-width:2px;">SL</th>
                <th>KEY RESULT AREAS (KRA)<br />(Task and Personal Objectives)</th>
                <th>KEY PERFORMANCE<br /> INDICATORS (KPI) <br /> (Determine how KRA's to be<br />measured)</th>
                <th>KPI OUTCOME</th>
            </tr>



            <tbody>
                @{
                    int sl = 1;
                }
                @if (Model != null)
                {
<<<<<<< HEAD
                    foreach (var item in Model)
=======
                    if (@item.Section_Name == "0")
                    {
                        continue;
                    }

                    var kpiCount = item.KPIIs.Count;
                <tbody>


                    @for (var i = 0; i < kpiCount; i++)
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
                    {
                        if (@item.Section_Name == "0")
                        {
                            continue;
                        }

<<<<<<< HEAD
=======


<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
                    <tr>

                        @if (i == 0)
                        {

                            <td rowspan=@kpiCount>@sl</td>

                            <td rowspan=@kpiCount>@item.KRAs[i]  </td>
                        }
                        <td>@kpi</td>
                        <td>
                            @if (item.KPIOutcomes.Count > i)
                            {
                                <input type="hidden" name="SelectedSession" value="@item.Section_Name" />
                                <input type="hidden" name="SelectedKRA" value="@item.KRA_ID" />
                                <input type="hidden" name="SelectedKPI" value="@item.KPI_IDss[i]" />
                                <input style="height:30px; width:250px;" type="text" name="KPIOutcome" value="@item.KPIOutcomes[i]" />
                            }

                        </td>
                        @if (i == 0)
                        {
@*                            <td rowspan=@kpiCount><a class="deleteRowButton"> <strong>X</strong></a></td>*@
                            if (@ViewBag.ApprovalSent)
                            {
                                <td hidden="hidden" rowspan=@kpiCount><a class="deleteRowButton"> <strong>X</strong></a></td>
                            }
                            else
                            {
                                <td rowspan=@kpiCount><a class="deleteRowButton"> <strong>X</strong></a></td>
                            }

                        }
                    </tr>


                    }
                </tbody>

                sl++;
            }
        }
            </tbody>

            <tbody id="tblMain_tbody">
            </tbody>
        </table>

    <br />

        @if (@ViewBag.ApprovalSent)
        {
            <div class="alert alert-danger" role="alert">
                <button class="btn btn-primary" type="submit" hidden="hidden">Save</button>
                <i class="fas fa-info-circle"></i> Already Sent for Approval
            </div>
        }
        else
        {
            <div class="alert alert-success2" role="alert" style="text-align:right">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        }

        <br />


        <table class="user-info-table2" id="numberInputTable" border="1" style="background-color:#d9e8f5;">

            <div class="alert alert-success" role="alert">
                KPI List (At first Add To Your List)
            </div>

            <tbody>
                @{
                    sl = 1;
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                }
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                        if (@item.Section_Name == "0")
                        {
                            continue;
                        }

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======

                        if (@item.Section_Name != "0")
                        {
                            continue;
                        }


>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                        var kpiCount = item.KPIIs.Count;
                    <tbody>


                        @for (var i = 0; i < kpiCount; i++)
                        {
                            var kpi = item.KPIIs[i];

<<<<<<< HEAD
                           <tr>

                                @if (i == 0)
                                {
                                    <td rowspan=@kpiCount>@sl</td>
                                    <td rowspan=@kpiCount>@item.KRAs[i]  </td>
                                }
=======
<<<<<<< HEAD
                           <tr>

                                @if (i == 0)
                                {
                                    <td rowspan=@kpiCount>@sl</td>
                                    <td rowspan=@kpiCount>@item.KRAs[i]  </td>
                                }
=======
<<<<<<< HEAD
                           <tr>

                                @if (i == 0)
                                {
                                    <td rowspan=@kpiCount>@sl</td>
                                    <td rowspan=@kpiCount>@item.KRAs[i]  </td>
                                }
=======
<<<<<<< HEAD
                           <tr>

                                @if (i == 0)
                                {
                                    <td rowspan=@kpiCount>@sl</td>
                                    <td rowspan=@kpiCount>@item.KRAs[i]  </td>
                                }
=======


<<<<<<< HEAD
                            <tr>

                                @if (i == 0)
                                {

                                    <td rowspan=@kpiCount>@sl</td>

                                    <td rowspan=@kpiCount>@item.KRAs[i]  </td>
                                }
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
                        <tr>

                            @if (i == 0)
                            {

<<<<<<< HEAD
                                <td rowspan=@kpiCount></td>

                                <td rowspan=@kpiCount>@item.KRAs[i]</td>
=======
<<<<<<< HEAD
                                <td rowspan=@kpiCount></td>

                                <td rowspan=@kpiCount>@item.KRAs[i]</td>
=======
<<<<<<< HEAD
                                <td rowspan=@kpiCount></td>

                                <td rowspan=@kpiCount>@item.KRAs[i]</td>
=======
<<<<<<< HEAD
                                <td rowspan=@kpiCount></td>

                                <td rowspan=@kpiCount>@item.KRAs[i]</td>
=======
                                <td rowspan=@kpiCount>@sl</td>

                                <td rowspan=@kpiCount>@item.KRAs[i]  </td>
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
                            }
                            <td>@kpi</td>
                            <td>
                                @if (item.KPIOutcomes.Count > i)
                                {
                                    <input type="hidden" name="SelectedSession" value="@item.Section_Name" />
                                    <input type="hidden" name="SelectedKRA" value="@item.KRA_ID" />
                                    <input type="hidden" name="SelectedKPI" value="@item.KPI_IDss[i]" />
<<<<<<< HEAD
                                    <div name="KPIOutcomesdiv"></div>
                                    <p>____</p>

=======
<<<<<<< HEAD
                                    <div name="KPIOutcomesdiv"></div>
                                    <p>____</p>

=======
<<<<<<< HEAD
                                    <div name="KPIOutcomesdiv"></div>
                                    <p>____</p>

=======
<<<<<<< HEAD
                                    <div name="KPIOutcomesdiv"></div>
                                    <p>____</p>

=======
                                    <input style="height:30px; width:250px;" type="text" name="KPIOutcome" value="@item.KPIOutcomes[i]" />
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
                                }

                            </td>
                            @if (i == 0)
                            {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
@*                                <td rowspan=@kpiCount>
                                    <a class="AddRowButton" name="AddRowButton">
                                        <strong>Add</strong>
                                    </a>
                                </td>*@
                                if (@ViewBag.ApprovalSent)
                                {
                                    <td hidden="hidden" rowspan=@kpiCount>
                                        <a class="AddRowButton" name="AddRowButton">
                                            <strong>Add</strong>
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td rowspan=@kpiCount>
                                        <a class="AddRowButton" name="AddRowButton">
                                            <strong>Add</strong>
                                        </a>
                                    </td>
                                }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
                                <td rowspan=@kpiCount><a class="deleteRowButton"> <strong>X  </strong></a></td>
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86

                            }
                        </tr>


<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
                    }
                </tbody>

                sl++;
            }
        }
            </tbody>

            <tbody id="tblMain_tbody">
            </tbody>
        </table>



        @if (@ViewBag.ApprovalSent)
        {
            <div class="alert alert-danger" role="alert">
                <button class="btn btn-primary" type="submit" hidden="hidden">Save</button>
                <i class="fas fa-info-circle"></i> Already Sent for Approval
            </div>
        }
        else
        {
            <div class="alert alert-success2" role="alert" style="text-align:right">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        }

        <br />


        <table class="user-info-table2" id="numberInputTable" border="1" style="background-color:#d9e8f5;">

            <div class="alert alert-success" role="alert">
                KPI List (At first Add To Your List)
            </div>

            <tbody>
                @{
                    sl = 1;
                }
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        if (@item.Section_Name != "0")
                        {
                            continue;
                        }


                        var kpiCount = item.KPIIs.Count;
                    <tbody>


                        @for (var i = 0; i < kpiCount; i++)
                        {
                            var kpi = item.KPIIs[i];



                            <tr>

                                @if (i == 0)
                                {

                                    <td rowspan=@kpiCount></td>

                                    <td rowspan=@kpiCount>@item.KRAs[i]</td>
                                }
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                                <td>@kpi</td>
                                <td>
                                    @if (item.KPIOutcomes.Count > i)
                                    {
                                        <input type="hidden" name="SelectedSession" value="@item.Section_Name" />
                                        <input type="hidden" name="SelectedKRA" value="@item.KRA_ID" />
<<<<<<< HEAD
                                        <input type="hidden" name="SelectedKPI" value="@item.KPI_IDss[i]" />
                                        <input style="height:30px; width:250px;" type="text" name="KPIOutcome" value="@item.KPIOutcomes[i]" />
=======
<<<<<<< HEAD
                                        <input type="hidden" name="SelectedKPI" value="@item.KPI_IDss[i]" />
                                        <input style="height:30px; width:250px;" type="text" name="KPIOutcome" value="@item.KPIOutcomes[i]" />
=======
<<<<<<< HEAD
                                        <input type="hidden" name="SelectedKPI" value="@item.KPI_IDss[i]" />
                                        <input style="height:30px; width:250px;" type="text" name="KPIOutcome" value="@item.KPIOutcomes[i]" />
=======
<<<<<<< HEAD
                                        <input type="hidden" name="SelectedKPI" value="@item.KPI_IDss[i]" />
                                        <input style="height:30px; width:250px;" type="text" name="KPIOutcome" value="@item.KPIOutcomes[i]" />
=======
<<<<<<< HEAD
                                        <input type="hidden" name="SelectedKPI" value="@item.KPI_IDss[i]" />
                                        <input style="height:30px; width:250px;" type="text" name="KPIOutcome" value="@item.KPIOutcomes[i]" />
=======
                                        <input type="hidden" name="SelectedKPI" value="@item.KPI_IDs[i]" />
                                        <div name="KPIOutcomesdiv"></div>
                                        <p>____</p>

>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                                    }

                                </td>
                                @if (i == 0)
                                {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                                    @*                            <td rowspan=@kpiCount><a class="deleteRowButton"> <strong>X</strong></a></td>*@
                                    if (@ViewBag.ApprovalSent)
                                    {
                                        <td hidden="hidden" rowspan=@kpiCount><a class="deleteRowButton" style="cursor:pointer;"> <strong>X</strong></a></td>
                                    }
                                    else
                                    {
                                        <td rowspan=@kpiCount><a class="deleteRowButton" style="cursor:pointer;"> <strong>X</strong></a></td>
                                    }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
                                    @*                            <td rowspan=@kpiCount><a class="deleteRowButton"> <strong>X</strong></a></td>*@
                                    if (@ViewBag.ApprovalSent)
                                    {
                                        <td hidden="hidden" rowspan=@kpiCount><a class="deleteRowButton"> <strong>X</strong></a></td>
                                    }
                                    else
                                    {
                                        <td rowspan=@kpiCount><a class="deleteRowButton"> <strong>X</strong></a></td>
                                    }
=======
                                    <td rowspan=@kpiCount>
                                        <a class="AddRowButton" name="AddRowButton">
                                            <strong>Add</strong>
                                        </a>
                                    </td>
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51

                                }
                            </tr>


<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86

>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                        }
                    </tbody>

                    sl++;
                }
            }
                </tbody>

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                <tbody id="tblMain_tbody">
                </tbody>
            </table>
        </div>

        <br />

        @if (@ViewBag.ApprovalSent)
        {
            <div class="alert alert-danger" role="alert">
                <button class="btn btn-primary" type="submit" hidden="hidden">Save</button>
                <i class="fas fa-info-circle"></i> Already Sent for Approval
            </div>
        }
        else
        {
            <div class="alert alert-success2" role="alert" style="text-align:right">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        }

        <br />


        <table class="user-info-table2" id="numberInputTable" border="1" style="background-color:#d9e8f5;">

            <div class="alert alert-success" role="alert">
<<<<<<< HEAD
                KRA/KPI List (At first Add To Your List)
=======
<<<<<<< HEAD
                KRA/KPI List (At first Add To Your List)
=======
<<<<<<< HEAD
                KRA/KPI List (At first Add To Your List)
=======
<<<<<<< HEAD
                KRA/KPI List (At first Add To Your List)
=======
                KPI List (At first Add To Your List)
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
            </div>

            <tbody>
                @{
                    sl = 1;
                }
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        if (@item.Section_Name != "0")
                        {
                            continue;
                        }


                        var kpiCount = item.KPIIs.Count;
                    <tbody>


                        @for (var i = 0; i < kpiCount; i++)
                        {
                            var kpi = item.KPIIs[i];



                            <tr>

                                @if (i == 0)
                                {

                                    <td rowspan=@kpiCount></td>

                                    <td rowspan=@kpiCount>@item.KRAs[i]</td>
                                }
                                <td>@kpi</td>
                                <td>
                                    @if (item.KPIOutcomes.Count > i)
                                    {
                                        <input type="hidden" name="SelectedSession" value="@item.Section_Name" />
                                        <input type="hidden" name="SelectedKRA" value="@item.KRA_ID" />
                                        <input type="hidden" name="SelectedKPI" value="@item.KPI_IDss[i]" />
                                        <div name="KPIOutcomesdiv"></div>
                                        <p>____</p>

                                    }

                                </td>
                                @if (i == 0)
                                {
                                    @*                                <td rowspan=@kpiCount>
                                            <a class="AddRowButton" name="AddRowButton">
                                                <strong>Add</strong>
                                            </a>
                                        </td>*@
                                    if (@ViewBag.ApprovalSent)
                                    {
                                        <td hidden="hidden" rowspan=@kpiCount>
                                            <a class="AddRowButton" name="AddRowButton">
<<<<<<< HEAD
                                                <strong style="cursor:pointer">Add</strong>
=======
<<<<<<< HEAD
                                                <strong style="cursor:pointer">Add</strong>
=======
<<<<<<< HEAD
                                                <strong style="cursor:pointer">Add</strong>
=======
<<<<<<< HEAD
                                                <strong style="cursor:pointer">Add</strong>
=======
                                                <strong>Add</strong>
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td rowspan=@kpiCount>
                                            <a class="AddRowButton" name="AddRowButton">
<<<<<<< HEAD
                                                <strong style="cursor:pointer">Add</strong>
=======
<<<<<<< HEAD
                                                <strong style="cursor:pointer">Add</strong>
=======
<<<<<<< HEAD
                                                <strong style="cursor:pointer">Add</strong>
=======
<<<<<<< HEAD
                                                <strong style="cursor:pointer">Add</strong>
=======
                                                <strong>Add</strong>
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
                                            </a>
                                        </td>
                                    }

                                }
                            </tr>



                        }
                    </tbody>

                    sl++;
                }
            }
                </tbody>


            </table>
            <br />

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======

            </table>
            <br />

>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        @section scripts {
            <script>

        $(document).ready(function () {

            //print
            $('#printBtn').click(function () {
                console.log('clicked');
                window.print();
            });

         var session_id = $('#selectedTaxPeriod').val();

            $('#taxPeriodDropdownMV').val(session_id);


            $(document).ready(function () {
                $('.deleteRowButton').click(DeleteRow);
            });

            $(document).ready(function () {
                $('.AddRowButton').click(AddRow);
            });


             function DeleteRow() {



                var kraId = $(this).parents('tr').find('[name=SelectedKRA]').val();


                console.log(kraId);

                //Delete from Database

                $.ajax({
                url: '@Url.Action("DeleteOutcome", "Home")',
                type: 'POST',
                    data: { kraId: kraId },
                success: function(response) {
                    if (response.success) {
                        console.log('DeleteOutcome successfully.');
                    } else {
                        console.error('Failed to DeleteOutcome.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', error);
                }
                });

                 //Delete from HTML

                $(this).parents('tbody').remove();



            }




            function AddRow() {


                var kraId = $(this).parents('tr').find('[name=SelectedKRA]').val();

                console.log(kraId);


                  //append to Main



                $(this).parents('tbody').find('[name=SelectedSession]').each(function () {
                    $(this).val(session_id);
                });



                $(this).parents('tr').find('[name=AddRowButton]').text("");
               // $("[name=KPIOutcomesdiv]").append("<input style='height:30px; width:250px;' type='text' name='KPIOutcome'  />");



                var row = $(this).parents('tbody').html()

                $(this).parents('tbody').find('[name=SelectedSession]').each(function () {
                    row = row.replace("____", "<input style='height:30px; width:250px;' type='text' name='KPIOutcome'  />");
                });

               // $("#tblMain tbody").append(row);
                $("#tblMain_tbody").append(row);


                  //Delete from HTML
                $(this).parents('tbody').remove();



            }

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51
            // disable ctrl+p
            document.addEventListener('keydown', function (event) {
                if (event.ctrlKey && event.key === 'p' || event.key === 'P') {
                    event.preventDefault();
                    alert('Printing is disabled.');
                }
            });

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
>>>>>>> 5a2d9da693a1e9b71812f71ec6aaa58543fb7baf
>>>>>>> db326d8cd59dceab5db09537dfd01a74afa6f2df
>>>>>>> 77ac0839bc36eaae374018c3b9f1a7c7b530dd51


    $('#taxPeriodDropdownMV').on('change', function() {
        var selectedSession = $(this).val();

        if (selectedSession) {
            $.ajax({
                url: '@Url.Action("UpdateSelectedSession", "Home")',
                type: 'POST',
                data: { selectedSession: selectedSession },
                success: function(response) {
                    if (response.success) {
                        console.log('Selected session updated successfully.');
                        window.location.href = '@Url.Action("DisplayKrasAndKpis", "Home")';
                    } else {
                        console.error('Failed to update selected session.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', error);
                }
            });
        }
    });
});

            </script>
        }




