@model STEP_PORTAL.Models.OutcomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
    <title>Outcome</title>

    <style>
        .hide-link {
            display: none !important;
        }

    </style>
</head>
<body>


    @if (@ViewBag.ApprovalSent)
    {
        <div class="alert alert-danger" role="alert">
            <div style=" text-align: center;">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary submit-btn hide-link">New</a>
                <i class="fas fa-info-circle"></i> Already Sent for Approval
            </div>
        </div>
    }
    else
    {
        <div class="form-group" style="float:right;">
            <div class="col-md-offset-3 col-md-10">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary submit-btn">New</a>
            </div>
        </div>
    }

    <br />
    <br />

    <form method="post" action="@Url.Action("Outcome", "Home")">
        <table id="numberInputTable" border="1">
            <tr>
                <th>SL</th>
                <th>KEY RESULT AREAS (KRA)<br />(Task and Personal Objectives)</th>
                <th>KEY PERFORMANCE<br /> INDICATORS (KPI) <br /> (Determine how KRA's to be<br />measured)</th>
                <th>Action</th>
            </tr>
            <tbody>
                @if (ViewBag.KraKpiData != null)
                {
                    int sl = 1;
                    foreach (var item in ViewBag.KraKpiData)
                    {
                        var kpiCount = item.KPIIs.Count;

                        for (var i = 0; i < kpiCount; i++)
                        {
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan=@kpiCount>@sl</td>
                        <td rowspan=@kpiCount>@item.KRA</td>
                    }
                    <td>@item.KPIIs[i]</td>

                    @if (i == 0)
                    {
                        @*                <td rowspan=@kpiCount>
                <a href="@Url.Action("DeleteKRA", "Home", new { kraId = item.KRA_ID })" class="btn btn-danger delete-btn" onclick="return confirm('Are you sure you want to delete this KRA and its corresponding KPIs?')"><i class="ti-trash"></i></a>
            </td>*@
                        <td rowspan=@kpiCount>
                            <a href="@Url.Action("DeleteKRA", "Home", new { kraId = item.KRA_ID })" class="btn btn-danger delete-btn" onclick="return confirm('Are you sure you want to delete this KRA and its associated KPIs?')"><i class="ti-trash"></i></a>
                        </td>
                    }

                </tr>
                        }

                        sl++;
                    }
                }
            </tbody>
        </table>
        <br />
    </form>

</body>
</html>
