@*@{
        bool? showMenuItems = Session["ShowMenuItems"] as bool?;
        bool? showMenuItemsForRS = Session["ShowMenuItemsForRS"] as bool?;
    }*@

@using STEP_PORTAL.Models;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>STEP - User Panel</title>
    <link rel="stylesheet" href="~/Content/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Content/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/select.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="Login"><img src="~/Content/images/pcfc-logo.png" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="Login"><img src="~/Content/images/pcfc-logo-mini.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <p class="ti-user text-primary"> @Session["Name"]</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <p class="dropdown-item">
                                <i class="ti-layout-list-post text-primary">
                                    @Session["EmployeeCode"]
                                </i>
                            </p>
                            <p class="dropdown-item">
                                <i class="ti-layout-list-post text-primary">
                                    @Session["Designation"]
                                </i>
                            </p>
                            <p class="dropdown-item">
                                <i class="ti-layout-list-post text-primary">
                                    @Session["Department"]
                                </i>
                            </p>
                            <p class="dropdown-item">
                                <i class="ti-layout-list-post text-primary">
                                    @Session["Section"]
                                </i>
                            </p>
                            <a href="@Url.Action("Logout", "Home")" class="dropdown-item">
                                <i class="ti-power-off text-primary">
                                    Logout
                                </i>
                            </a>
                        </div>
                    </li>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">

            @*            ************COLOR CHANGE THEME*************@

            @*            <div class="theme-setting-wrapper">
                    <div id="settings-trigger"><i class="ti-settings"></i></div>
                    <div id="theme-settings" class="settings-panel">
                        <i class="settings-close ti-close"></i>
                        <p class="settings-heading">Sidebar Theme</p>
                        <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                        <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                        <p class="settings-heading mt-2">Header Theme</p>
                        <div class="color-tiles mx-0 px-4">
                            <div class="tiles success"></div>
                            <div class="tiles warning"></div>
                            <div class="tiles danger"></div>
                            <div class="tiles info"></div>
                            <div class="tiles dark"></div>
                            <div class="tiles default"></div>
                        </div>
                    </div>
                </div>*@
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">

                    @*                    NEW NAVBAR                *@

                    @{
@*                            var userMenus = ViewBag.UserMenus as IEnumerable<STEP_PORTAL.Models.UserMenu>;*@
                            var userMenus = Session["AssignedMenuItems"] as List<UserMenu>;
                            foreach (var menu in userMenus)
                            {
                                if (menu.Main_Menu_Id == "0")
                                {
                                    var subMenus = userMenus.Where(p => p.Main_Menu_Id == menu.ID.ToString()).ToList();
                                    if (subMenus.Count > 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="collapse" href="#menu-@menu.ID" aria-expanded="false" aria-controls="menu-@menu.ID">
                                                <i class="icon-layout menu-icon"></i>
                                                <span class="menu-title">@menu.Menu_Name</span>
                                                <i class="menu-arrow"></i>
                                            </a>
                                            <div class="collapse" id="menu-@menu.ID">
                                                <ul class="nav flex-column sub-menu">
                                                    @{
                                                        foreach (var subMenu in subMenus)
                                                        {
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="@Url.Action(subMenu.Menu_URL)">@subMenu.Menu_Name</a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action(menu.Menu_URL)">
                                                <i class="icon-layout menu-icon"></i>
                                                <span class="menu-title">@menu.Menu_Name</span>
                                            </a>
                                        </li>
                                    }
                                }
                            }
                    }



                    @*                    OLD NAVBAR                *@

                    @*@if (Session["AssignedMenuItems"] != null)
        {
            var assignedMenuItems = Session["AssignedMenuItems"] as List<tblMenu>;

            if (assignedMenuItems != null && assignedMenuItems.Any())
            {
                <ul class="nav flex-column">
                    @foreach (var menuItem in assignedMenuItems)
                    {
                        var menuUrlParts = menuItem.Menu_URL.Split('/');
                        if (menuUrlParts.Length >= 2)
                        {
                            var controller = menuUrlParts[0];
                            var view = menuUrlParts[1];

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action(view, controller)">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">@menuItem.Menu_Name</span>
                                </a>
                                @{
                                    var UserMenus = ViewBag.UserMenus as IEnumerable<STEP_PORTAL.Models.UserMenu>;
                                    if (UserMenus != null)
                                    {
                                        var SubMenus = UserMenus.Where(p => p.Main_Menu_Id == menuItem.ID.ToString()).ToList();
                                        if (SubMenus != null && SubMenus.Any())
                                        {
                                            <ul class="nav flex-column sub-menu">
                                                @foreach (var subMenuItem in SubMenus)
                                                {
                                                    var submenuUrlParts = subMenuItem.Menu_URL.Split('/');
                                                    if (submenuUrlParts.Length >= 2)
                                                    {
                                                        var submenuController = submenuUrlParts[0];
                                                        var submenuView = submenuUrlParts[1];

                                                        <li class="nav-item">
                                                            <a class="nav-link" href="@Url.Action(submenuView, submenuController)">
                                                                <i class="icon-layout menu-icon"></i>
                                                                <span class="menu-title">@subMenuItem.Menu_Name</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>view or controller not found</li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    }
                                }
                            </li>
                        }
                        else
                        {
                            <li>Invalid menu URL format</li>
                        }
                    }
                </ul>
            }
            else
            {
                <li>No assigned menus found</li>
            }
        }
        else
        {
            <li>Error: AssignedMenuItems session variable is null</li>
        }
                    *@





                    @*STATIC LAYOUT*@

                    <!--<li class="nav-item">
        <a class="nav-link" href="Url.Action("Dashboard", "Home")">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">KRA/KPI Entry</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">-->
                    @*<li class="nav-item"> <a class="nav-link" href="@Url.Action("Index", "Home")">Master Data Entry</a></li>*@
                    <!--<li class="nav-item"> <a class="nav-link" href="Url.Action("Outcome", "Home")">View List of KRA/KPI</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
            <i class="icon-columns menu-icon"></i>
            <span class="menu-title">KPI Outcome Entry</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="Url.Action("DisplayKrasAndKpis", "Home")">Current Year</a></li>-->
                    @*<li class="nav-item"><a class="nav-link" href="@Url.Action("DisplayKrasAndKpis", "Home")">Next Year</a></li>*@
                    <!--</ul>
        </div>
    </li>-->
                    @*        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("SpecialFactors", "Employee")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Add Special Factors</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("TrainingNeed", "Employee")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Add Training Data</span>
            </a>
        </li>*@

                    @*                    <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ViewEmpList", "DeptHead")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Add Performance Marks</span>
            </a>
        </li>*@
                    @*        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("AddMarks", "ReportSuper")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Add Performance Marks</span>
            </a>
        </li>*@
                    @*           <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ViewMarks", "ReportSuper")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">View Performance Marks</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ViewEmpListHR", "HR")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">HR Add Performance Marks</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ViewEmpListHOD", "DeptHead")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">HOD View Employees</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("CorpHR", "HR")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Corporate HR</span>
            </a>
        </li>*@


                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="row" style="width:100%;">
                                <div class="col-md-12">
                                    @RenderBody()
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Shovon Roy</span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    @*    custom css*@
    <style>
        .sidebar-offcanvas {
            width: calc(280px + 50px);
        }

        .table-form {
            width: 400%; /* Adjust the width as needed */
            margin: 0 auto; /* Center the table */
        }
    </style>
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/dataTables.select.min.js"></script>
    <script src="~/Content/js/off-canvas.js"></script>
    <script src="~/Content/js/hoverable-collapse.js"></script>
    <script src="~/Content/js/template.js"></script>
    <script src="~/Content/js/settings.js"></script>
    <script src="~/Content/js/todolist.js"></script>
    <script src="~/Content/js/dashboard.js"></script>
    <script src="~/Content/js/Chart.roundedBarCharts.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>


