@*@model List<STEP_PORTAL.Models.EmployeeInfo>*@
@model EmployeeSessionViewModelClass

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

@using (Html.BeginForm("CorpHR", "HR", FormMethod.Post, new { id = "employeeForm", target = "_blank" }))
{
    @Html.Hidden("regID", null, new { id = "regIDField" })
}

@using (Html.BeginForm("ViewMarks", "ReportSuper", FormMethod.Post, new { id = "viewMarksForm" }))
{
    @Html.Hidden("regID", null, new { id = "viewregIDField" })
}

<h3 style="text-align:center;">Corporate HR Dashboard</h3>

@using (Html.BeginForm("CorpHR", "HR", FormMethod.Post, new { id = "viewEmpListForm" }))
{
    <div class="dropdown-container">
        <label class="dropdown-label" for="taxPeriodDropdownMV">Choose Session:</label>
        <br />
        <select id="taxPeriodDropdownMV" class="form-control custom-select">
            <option value="" @(ViewBag.SelectedTaxPeriod == null ? "selected" : "")>Choose a Session</option>
            @foreach (var taxPeriod in ViewBag.TopTaxPeriods)
            {
                <option value="@taxPeriod.TaxPerID">@taxPeriod.TaxPeriod</option>
            }
        </select>
        <input type="hidden" id="selectedTaxPeriod" name="selectedTaxPeriod" value="@ViewBag.SelectedTaxPeriod" />
    </div>

    <div class="form-group">
        @Html.DropDownList("companyId", ViewBag.Companies as SelectList, "Select an unit", new { @class = "form-control" })
        @Html.ValidationMessage("companyId", "", new { @class = "text-danger" })
        @Html.DropDownList("DepartmentDropdown", new SelectList(ViewBag.Departments, "DepartmentName", "DepartmentName"), "Select Department", new { @class = "form-control" })
        @Html.DropDownList("SectionDropdown", Enumerable.Empty<SelectListItem>(), "Select Section", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary" id="submitButton">Search</button>
    //<button class="btn btn-primary" style="float:right; display:none;" id="exportToExcelBtn">Export to Excel</button>
    <button type="button" class="btn btn-primary" id="generatePdfButton" style="display:none;">Generate PDF</button>
}


<br />
<br />
<div class="user-info-container">
    @if (Model != null && Model.Employees.Count > 0)
    {
        <table class="user-info-table">
            <thead>
                <tr>
                    <th style="width: 100% ">Department</th>
                    <th>Section</th>
                    <th>Designation</th>
                    <th style="width:100%">Name</th>
                    <th>Employee Code</th>
                    <th>Status</th>
                    <th>View Marks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.Department</td>
                        <td>@employee.Section</td>
                        <td>@employee.Designation</td>
                        <td>@employee.Name</td>
                        <td>@employee.EmployeeCode</td>
                        <td>@employee.EmpStatus</td>
<<<<<<< HEAD
                        <td><a target="_blank" href="../HR/FinalRecommendation?regId=@HttpUtility.UrlEncode(STEP_PORTAL.Helpers.PasswordHelper.Encrypt(employee.RegId.ToString()))">Marks Entry</a></td>
                        @*<td><a href="javascript:void(0);" onclick="checkAuthAndRedirect(@Session["RegID"], @employee.RegId)">Marks Entry</a></td>*@
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
                        @*<td><a target="_blank" href="../HR/FinalRecommendation?regId=@HttpUtility.UrlEncode(STEP_PORTAL.Helpers.PasswordHelper.Encrypt(employee.RegId.ToString()))">Marks Entry</a></td>*@
                        <td><a href="javascript:void(0);" onclick="checkAuthAndRedirect(@Session["RegID"], @employee.RegId)">Marks Entry</a></td>
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
                    </tr>
                }
            </tbody>

        </table>
        <script>
            document.getElementById("generatePdfButton").style.display = "inline-block";
        </script>
    }
    else
    {
        <p>No employees found</p>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>

<script>

    $(document).ready(function () {
        var session_id = $('#selectedTaxPeriod').val();
        $('#taxPeriodDropdownMV').val(session_id);
        });


    function setRegId(regID) {
        document.getElementById("viewregIDField").value = regID;
        document.getElementById("viewMarksForm").submit();
    }

    // store session value

    var dropdown = document.getElementById("taxPeriodDropdownMV");
    var companyDropdown = document.querySelector("select[name='companyId']");
    var submitButton = document.getElementById("submitButton");

    dropdown.addEventListener("change", enableSubmitButton);
    companyDropdown.addEventListener("change", enableSubmitButton);

    function enableSubmitButton() {
        var selectedSession = dropdown.value;
        var selectedCompany = companyDropdown.value;

        if (selectedSession && selectedCompany) {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    }


<<<<<<< HEAD
    $('#DepartmentDropdown').change(function () {
        var selectedDepartment = $(this).val();
        var departments = @Html.Raw(Json.Encode(ViewBag.Departments));
        var selectedDepartmentData = departments.find(d => d.DepartmentName === selectedDepartment);

        $('#SectionDropdown').empty();
        //$('#SectionDropdown').append($('<option>').text('Select Section').val(''));

        if (selectedDepartmentData && selectedDepartmentData.Sections) {
            $.each(selectedDepartmentData.Sections, function (index, section) {
                $('#SectionDropdown').append($('<option>').text(section).val(section));
            });
        }
    });

    // Export to Excel

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
        // check auth

    function checkAuthAndRedirect(regId, empRegId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckAuth", "ReportSuper")',
            data: {
                regId: regId,
                empRegId: empRegId,
                sessionId: $('#selectedTaxPeriod').val(),
                type: 'AddMarksCHR'
            },
            success: function(response) {
                if (response.status) {
                    window.open('../HR/FinalRecommendation?regId=' + encodeURIComponent(response.encryptedRegId), '_blank');
                } else {
                    alert('You do not have authorization to access this page!');
                }
            },
            error: function() {
                alert('An error occurred while checking authorization!');
            }
        });
    }

>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
    // generate pdf

    $(document).ready(function () {
        $('#generatePdfButton').on('click', function () {
            var form = $('#viewEmpListForm');
            form.attr('action', '@Url.Action("GeneratePdf", "ReportSuper")');
            form.submit();
        });
    });


<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
   $('#DepartmentDropdown').change(function () {
    var selectedDepartment = $(this).val();
    var departments = @Html.Raw(Json.Encode(ViewBag.Departments));
    var selectedDepartmentData = departments.find(d => d.DepartmentName === selectedDepartment);

    $('#SectionDropdown').empty();
    //$('#SectionDropdown').append($('<option>').text('Select Section').val(''));

    if (selectedDepartmentData && selectedDepartmentData.Sections) {
        $.each(selectedDepartmentData.Sections, function (index, section) {
            $('#SectionDropdown').append($('<option>').text(section).val(section));
        });
    }
});
>>>>>>> 2fb5633e7882b0cde4cce6838b80756d8d12b3e8
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
</script>
