@model DisplayAllDataViewModel


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

@using (Html.BeginForm("FinalRecommendation", "HR", FormMethod.Post, new { id = "employeeForm", target = "_blank" }))
{
    @Html.Hidden("regID", null, new { id = "regIDField" })
}

@using (Html.BeginForm("FinalRecommendation", "HR", FormMethod.Post, new { id = "viewMarksForm" }))
{
    @Html.Hidden("regID", null, new { id = "viewregIDField" })
}



<body>

    <button class="btn btn-primary" style="float:right;" id="exportToExcelBtn">Export to Excel</button>

    @{
        decimal sumOfAverages = 0;
        int totalKraCount = Model.GroupedData.Count();
    }

    <h3>HR & Admin Final Recommendation</h3>
    <br />

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <script>alert('@ViewBag.ErrorMessage');</script>
    }


    <style>
        .tab {
            display: inline-block;
            margin-left: 40px;
        }

        .tab2 {
            display: inline-block;
            margin-left: 45px;
        }

        .tab3 {
            display: inline-block;
            margin-left: 66px;
        }
    </style>

    @if (ViewBag.AuthorizationMessage != null)
    {
        <script>
        setTimeout(function() {
            alert('@Html.Raw(ViewBag.AuthorizationMessage)');
            window.location.href = '@Url.Action("Dashboard", "Home")';
        }, 2000);
        </script>
        return;
    }

    <br />
    <div>
        <p><strong>Employee Code: <span class="tab2"></span> @Model.EmployeeInfo.EmployeeCode</strong></p>
        <p><strong>Employee Name: <span class="tab"></span> @Model.EmployeeInfo.Name</strong></p>
        <p><strong>Designation: <span class="tab3"></span> @Model.EmployeeInfo.Designation</strong></p>
    </div>
    <br />

    @if (Model != null && Model.KraKpiOutcomeData.Count > 0)
    {
        <div>
            <button id="toggleButton" class="btn btn-primary" onclick="toggleTable()">View Marks</button>
            <div id="tableContainer" style="display: none;">
                <table class="user-info-table">
                    <thead>
                        <tr>
                            <th>KRA</th>
                            <th>KPI</th>
                            <th>Outcome</th>
                            <th>Report Super Remarks</th>
                            <th>Performance Marks</th>
                            <th>Total Average</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GroupedData)
                        {
                            var kpiCount = item.KPIIs.Count;
                            for (var i = 0; i < kpiCount; i++)
                            {
                                var kpi = item.KPIIs[i];
                                var outcomeItem = Model.KraKpiOutcomeData.FirstOrDefault(m => m.KRA == item.KRA && m.KPI == kpi);
                                string outcome = outcomeItem != null ? outcomeItem.Outcome : null;
                                var mark = outcomeItem != null ? outcomeItem.Marks_Achieved : 0;

                                <tr>
                                    @if (i == 0)
                                    {
                                        <td rowspan=@kpiCount>@item.KRA</td>
                                    }
                                    <td>@kpi</td>
                                    <td>@outcome</td>
                                    <td>@item.AllRemarks[i]</td>
                                    <td style="text-align:center">@mark</td>
                                    @if (i == 0)
                                    {
                                        <td rowspan=@kpiCount style="text-align:center">
                                            @(Model.KraKpiOutcomeData.Where(m => m.KRA == item.KRA).Sum(m => m.AVG_Marks_Achieved) / item.KPIIs.Count)
                                            @{
                                                decimal MarskAverage = Model.KraKpiOutcomeData.Where(m => m.KRA == item.KRA).Sum(m => m.AVG_Marks_Achieved) / item.KPIIs.Count;
                                                if (Model.KraKpiOutcomeData != null && Model.KraKpiOutcomeData.Count > 0 && Model.KraKpiOutcomeData[0] != null && Model.KraKpiOutcomeData[0].KPI_AVG.HasValue)
                                                {
                                                    sumOfAverages = Model.KraKpiOutcomeData[0].KPI_AVG.Value;
                                                }
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="5" style="text-align: center; background-color: Highlight; color: white; height: 30px;">
                                <strong>
                                    Average Cumulative Score of KRA’s / @totalKraCount
                                </strong>
                            </td>
                            <td style="text-align: center; background-color: Highlight; color: white;"><strong>@sumOfAverages</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-info-circle"></i>No marks data available
        </div>
    }

    @*next year data*@

    @if (Model != null && Model.NextYearKraKpiOutcomeData.Count > 0)
    {
        <div>
            <button id="toggleButtonNY" class="btn btn-primary" onclick="toggleTableNY()">View Next Year Data</button>
            <div id="tableContainerNY" style="display: none;">
                <table class="user-info-table">
                    <thead>
                        <tr>
                            <th>Next Year's KRA</th>
                            <th>Next Year's KPI</th>
                            <th>Completion Deadline</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.NextYearGroupedData)
                        {
                            var kpiCount = item.KPIIs.Count;
                            for (var i = 0; i < kpiCount; i++)
                            {
                                var kpi = item.KPIIs[i];

                                <tr>
                                    @if (i == 0)
                                    {
                                        <td rowspan=@kpiCount>@item.KRA</td>
                                    }
                                    <td>@kpi</td>

                                    @if (i == 0 && item.Durations != null && item.Durations.Count > 0)
                                    {
                                        <td rowspan=@kpiCount>@(item.Durations.First().Value.Date.ToString("dd-MM-yyyy"))</td>
                                    }
                                    else
                                    {
                                        <td rowspan=@kpiCount></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-info-circle"></i>The employee has not yet submitted Next Year's data
        </div>
    }

    <br /><br />
    <div style="padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <table border="1">
            <tr>
                <td colspan="5" align="center" style="color:Highlight;">
                    <h5>
                        1.2 Performance Assessment:
                        @{
                            decimal? totalAvg = null;
                            if (Model.KraKpiOutcomeData != null && Model.KraKpiOutcomeData.Count > 0 && Model.KraKpiOutcomeData[0] != null && Model.KraKpiOutcomeData[0].KPI_AVG.HasValue)
                            {
                                sumOfAverages = Model.KraKpiOutcomeData[0].KPI_AVG.Value;
                            }
                            if (Model.KraKpiOutcomeData != null && Model.KraKpiOutcomeData.Count > 0)
                            {
                                totalAvg = (Model.KraKpiOutcomeData[0].Attendance + Model.KraKpiOutcomeData[0].Discipline) / 2;
                            }

                        }
                        <input style="text-align: center; width: 50px; background-color: Highlight; color: white;"
                               value="@totalAvg"
                               class="tab" disabled type="text">
                    </h5>
                </td>

            </tr>
            <tr>
                <td>
                    <h6>
                        1.	Attendance: <input style="text-align:center; width:30px;"
                                                value="@Model.StepMaster.Attendance"
                                                class="tab" disabled type="text">
                    </h6>
                </td>
                <td>
                    <h6>
                        2.	Discipline: <input style="text-align:center; width:30px;"
                                                value="@Model.StepMaster.Discipline"
                                                class="tab" disabled type="text">
                    </h6>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div style="padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <table border="1">
            <tr>
                <td colspan="5" align="center" style="color: Highlight;">
                    <h5>
                        1.5 Overall Performance Rating Achieved:

                        <input style="text-align: center; width: 50px; background-color: Highlight; color: white;"
                               value="@Model.StepMaster.Rating_Achieved"
                               class="tab" disabled type="text">
                    </h5>
                </td>

            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top;">
                    <h6 style="margin-top: 0;  padding-top: 10px;">5 - OUTSTANDING</h6>
                    <p>Exceeded performance in all agreed upon objectives /KRAs and have gone far beyond what is expected.</p>
                </td>
                <td style="text-align: left; vertical-align: top;">
                    <h6 style="margin-top: 0; padding-top: 10px;">4 - ABOVE TARGET</h6>
                    <p>Consistently accomplished objectives/KRAs and also have delivered results that exceeded some targets.</p>
                </td>
                <td style="text-align: left; vertical-align: top;">
                    <h6 style="margin-top: 0; padding-top: 10px;">3 - ON TARGET</h6>
                    <p>Achieved all objectives /KRAs or has exceeded target in some critical KRAs with one less critical area under achieved.</p>
                </td>
                <td style="text-align: left; vertical-align: top;">
                    <h6 style="margin-top: 0; padding-top: 10px;">2 - NEARLY THERE</h6>
                    <p>Achieved most of the objectives/KRAs but not all.</p>
                </td>
                <td style="text-align: left; vertical-align: top;">
                    <h6 style="margin-top: 0; padding-top: 10px;">1 - UNDER PERFORMING</h6>
                    <p>Could not achieve a number of agreed objectives/KRAs.</p>
                </td>
            </tr>
        </table>
    </div>
    <br /><br />

    <div style="padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <label for="comment" style="font-weight: bold; color: #333;">Supervisor's Comment:</label><br>
        <input type="text" disabled id="SupervisorComment" name="SupervisorComment" value="@Model.StepMaster.Supervisor_Comment" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
        <br />
        <label for="comment" style="font-weight: bold; color: #333;">User's Comment:</label><br>
        <input type="text" disabled id="UserComment" name="UserComment" value="@Model.StepMaster.User_Comment" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
        <br>
        <label for="comment" style="font-weight: bold; color: #333;">HOD's Comment:</label><br>
        <input type="text" disabled id="UserComment" name="UserComment" value="@Model.StepMaster.HOD_Comment" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
        <br>
        <label for="comment" style="font-weight: bold; color: #333;">HOD's Proposed Promotion:</label><br>
        <input type="text" disabled id="UserComment" name="UserComment" value="@Model.StepMaster.HOD_Propose_Promotion" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
        <br>
        <label for="comment" style="font-weight: bold; color: #333;">HOD's Proposed Increment:</label><br>
        <input type="text" disabled id="UserComment" name="UserComment" value="@Model.StepMaster.HOD_Propose_Incr" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
    </div>


    <br />
    <br />

    @{
        string effectiveDate = Model.StepMaster.Effect_Date.HasValue
            ? Model.StepMaster.Effect_Date.Value.ToString("yyyy-MM-dd")
            : DateTime.Now.ToString("yyyy-MM-dd");
    }


    @using (Html.BeginForm("SaveHRComment", "HR", new { regId = ViewBag.RegId }, FormMethod.Post, new { id = "HRForm" }))
    {
        <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

        <div style="padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <label for="HRComment" style="font-weight: bold; color: #333;">Final Comment:</label><br>
            <input type="text" id="HRComment" value="@Model.StepMaster.Final_Comment" name="HRComment" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <br />
            <p style="color:Highlight;"><strong>Current Designation:  @Model.EmployeeInfo.Designation</strong></p>
            <p style="color:Highlight;"><strong>Service of Length:   @Model.EmployeeInfo.Service_Length</strong></p>
            <label for="comment" style="font-weight: bold; color: #333;">Promote as:</label><br>
            <select id="promotion" name="promotion" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
                @foreach (var designation in Model.Designations)
                {
                    <option value="@designation.Designation" @(designation.Designation == Model.StepMaster.Final_Propose_Promotion ? "selected" : "")>@designation.Designation</option>
                }
            </select>
            <br>
            <label for="incrementValue" style="font-weight: bold; color: #333;">Proceed with annual increment of BDT:</label><br>
            <input type="number" id="incrementValue" value="@Model.StepMaster.Final_Propose_Incr" name="incrementValue" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <br>
            <label for="effdate" style="font-weight: bold; color: #333;">Effective date:</label><br>
            <input type="date" id="effdate" value=@effectiveDate name="effdate" style="width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;">
            <br>
            <input type="submit" value="Submit" color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">
        </div>
    }

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

@section scripts {
    <script>
        $(function () {
            $('#taxPeriodDropdownMV').change(function () {
                var selectedSession = $(this).val();
                console.log(selectedSession);

                $.ajax({
                    url: '@Url.Action("GetFilteredMarksData", "Home")',
                    type: 'GET',
                    data: { selectedSession: selectedSession },
                    success: function (response) {
                        $('tbody').empty();
                        var totalMarks = 0;
                        var count = 0;

                        response.forEach(function (item) {
                            var newRow = '<tr>' +
                                '<td>' + item.KPI_OUTCOME + '</td>' +
                                '<td>' + item.Marks_Achieved + '</td>' +
                                '<td></td>' +
                                '</tr>';

                            totalMarks += item.Marks_Achieved;
                            console.log(totalMarks);
                            count++;
                            $('tbody').append(newRow);
                        });

                        var average = totalMarks / count;
                        $('#averageMarks').text(average.toFixed(2));
                        console.log(average);
                        $('tfoot td:nth-child(3)').text(average.toFixed(2));
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });


          $(function() {
              $('#HRForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();

                $.ajax({
                    url: '@Url.Action("SaveHRComment", "HR")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        if (response.success) {
                            alert(response.message);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function() {
                        alert('An error occurred while saving the comment!');
                    }
                });
            });
        });

        // table toggle

        function toggleTable() {
            var tableContainer = document.getElementById("tableContainer");
            var toggleButton = document.getElementById("toggleButton");
            if (tableContainer.style.display === "none") {
                tableContainer.style.display = "block";
                toggleButton.textContent = "Minimize Marks";
            } else {
                tableContainer.style.display = "none";
                toggleButton.textContent = "View Marks";
            }
        }

        // next year table toggle

        function toggleTableNY() {
            var tableContainer = document.getElementById("tableContainerNY");
            var toggleButton = document.getElementById("toggleButtonNY");
            if (tableContainer.style.display === "none") {
                tableContainer.style.display = "block";
                toggleButton.textContent = "Minimize Data";
            } else {
                tableContainer.style.display = "none";
                toggleButton.textContent = "View Next Year Data";
            }
        }

        // export to excel

         $(function () {
            $('#exportToExcelBtn').click(function () {
                exportToExcel();
            });
        });

        function exportToExcel() {

            var regId = @ViewBag.RegId;
            var sessionId = @Session["SelectedTaxPeriod"];

            $.ajax({
                url: '@Url.Action("GetEmployeeReport", "HR")',
                type: 'GET',
                data: { regId: regId, sessionId: sessionId },
                success: function (data) {
                    var worksheet = XLSX.utils.json_to_sheet(data);
                    var workbook = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");

                    XLSX.writeFile(workbook, 'EmployeeSummaryReport.xlsx');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

    </script>
}

