@model List<KraKpiOutcomeModel>

@{
    var firstItem = Model.FirstOrDefault();
    decimal averageKpiAvg = 0;
    if (Model != null && Model.Any())
    {
        averageKpiAvg = Model.Average(m => m.KPI_AVG ?? 0);
    }
}

@{
    var marksUpdateModel = new List<KraKpiOutcomeModel>();
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

<a href="@Url.Action("ViewEmpListHR", "HR")" class="btn btn-primary" style="text-decoration: none;">
    <span>Search Again</span>
</a>
<br />
<br />
<br />

@if (ViewBag.AuthorizationMessage != null)
{
    <script>
        setTimeout(function() {
            alert('@Html.Raw(ViewBag.AuthorizationMessage)');
            window.location.href = '@Url.Action("Dashboard", "Home")';
        }, 2000);
    </script>
    return;
}

<style>
    .tab {
        display: inline-block;
        margin-left: 40px;
    }

    .tab2 {
        display: inline-block;
        margin-left: 45px;
    }

    .tab3 {
        display: inline-block;
        margin-left: 66px;
    }
</style>


<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
@*@if (firstItem != null)
    {
        <div>
            <p><strong>Employee Code: <span class="tab2"></span> @firstItem.EmployeeCode</strong></p>
            <p><strong>Employee Name: <span class="tab"></span>  @firstItem.Name</strong></p>
        </div>
    }*@

>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
<p><strong>Employee Code: <span class="tab2"></span> @Session["EmployeeCodeInd"]</strong></p>
<p><strong>Employee Name: <span class="tab"></span> @Session["NameInd"]</strong></p>
<p><strong>Designation: <span class="tab3"></span>  @Session["DesignationInd"]</strong></p>
<br />

@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
<<<<<<< HEAD
        @using (Html.BeginForm("UpdateMarks", "HR", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            @*@Html.HiddenFor(m => m[0].REG_ID)*@

=======
<<<<<<< HEAD
        @using (Html.BeginForm("UpdateMarks", "HR", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            @*@Html.HiddenFor(m => m[0].REG_ID)*@

=======
<<<<<<< HEAD
        @using (Html.BeginForm("UpdateMarks", "HR", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            @*@Html.HiddenFor(m => m[0].REG_ID)*@

=======
<<<<<<< HEAD
        @using (Html.BeginForm("UpdateMarks", "HR", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            @*@Html.HiddenFor(m => m[0].REG_ID)*@

=======
<<<<<<< HEAD
        @using (Html.BeginForm("UpdateMarks", "HR", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            @*@Html.HiddenFor(m => m[0].REG_ID)*@

=======
<<<<<<< HEAD
        @using (Html.BeginForm("UpdateMarks", "HR", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            @*@Html.HiddenFor(m => m[0].REG_ID)*@

=======
<<<<<<< HEAD
        @using (Html.BeginForm("UpdateMarks", "HR", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            @*@Html.HiddenFor(m => m[0].REG_ID)*@

=======

        @using (Html.BeginForm("UpdateMarks", "HR", new { regId = ViewBag.RegId }, FormMethod.Post))
        {
            <input type="hidden" id="regId" name="regId" value="@ViewBag.RegId" />

            @*@Html.HiddenFor(m => m[0].REG_ID)*@

>>>>>>> 2fb5633e7882b0cde4cce6838b80756d8d12b3e8
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>KRA</th>
                        <th>KPI</th>
                        <th>Outcome</th>
                        <th>Remarks</th>
                        <th>Performance Marks</th>
                        <th>Average</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count;)
                    {
                        var kra = Model[i].KRA;
                        var kraCount = Model.Count(m => m.KRA == kra);
                        for (int j = 0; j < kraCount; j++)
                        {
                            var marksModel = new KraKpiOutcomeModel
                            {
                                Outcome = Model[i].Outcome,
                                Marks = 0
                            };
                            marksUpdateModel.Add(marksModel);

                            <tr>
                                @if (j == 0)
                                {
                                    <td rowspan="@kraCount">@Model[i].KRA</td>
                                }
                                <td>@Model[i].KPI</td>
                                <td>@Model[i].Outcome</td>
                                <td>@Model[i].Remarks</td>
                                <td>
                                    @* <select name="@("marksUpdateModel[" + (marksUpdateModel.Count - 1) + "].Marks")" class="marks-select" data-kra="@Model[i].KRA" data-outcome="@Model[i].Outcome">*@
                                    <select name="@("model[" + i + "].SelectedMarks")" class="marks-select" data-kra="@Model[i].KRA" data-outcome="@Model[i].Outcome">
                                        @if (@Model[i].Marks_Achieved == 0)
                                        {
                                            <option value="0" selected>0</option>
                                        }
                                        else
                                        {
                                            <option value="0">0</option>
                                        }


                                        @if (@Model[i].Marks_Achieved == 1)
                                        {
                                            <option value="1" selected>1</option>
                                        }
                                        else
                                        {
                                            <option value="1">1</option>
                                        }

                                        @if (@Model[i].Marks_Achieved == 2)
                                        {
                                            <option value="2" selected>2</option>
                                        }

                                        else
                                        {
                                            <option value="2">2</option>
                                        }

                                        @if (@Model[i].Marks_Achieved == 3)
                                        {
                                            <option value="3" selected>3</option>
                                        }

                                        else
                                        {
                                            <option value="3">3</option>
                                        }

                                        @if (@Model[i].Marks_Achieved == 4)
                                        {
                                            <option value="4" selected>4</option>
                                        }

                                        else
                                        {
                                            <option value="4">4</option>
                                        }

                                        @if (@Model[i].Marks_Achieved == 5)
                                        {
                                            <option value="5" selected>5</option>
                                        }

                                        else
                                        {
                                            <option value="5">5</option>
                                        }

                                    </select>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
                                    @* <input type="hidden" name="@("marksUpdateModel[" + i + "].Outcome")" value="@Model[i].Outcome" />*@
>>>>>>> 2fb5633e7882b0cde4cce6838b80756d8d12b3e8
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
                                    <input type="hidden" name="@("model[" + i + "].Outcome")" value="@Model[i].Outcome" />
                                    <input type="hidden" name="@("model[" + i + "].KPI_ID")" value="@Model[i].KPI_ID" />
                                </td>
                                @if (j == 0)
                                {
                                    <td rowspan="@kraCount">
                                        <input type="text" class="average-input" value="@Model[i].AVG_Marks_Achieved" data-kra="@Model[i].KRA" data-outcome="@Model[i].Outcome" readonly />
                                    </td>
                                }
                            </tr>
                            i++;
                        }
                    }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede

                    <tr>
                        <td colspan="5" style="text-align: center; background-color: Highlight; color: white; height: 30px;">
                            <strong>
                                Average Cumulative Score of KRA’s
                            </strong>
                        </td>
                        <td style="text-align: center; background-color: Highlight; color: white;"><strong>@averageKpiAvg</strong></td>
                    </tr>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
                    @*                    <tr>
                            <td colspan="4" style="text-align:center"><strong>Total Average:</strong></td>
                            <td style="text-align:center"><strong>@(sumOfAverages)</strong></td>
                        </tr>*@
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
                </tbody>
            </table>
            <input type="submit" value="Save Marks" />
        }
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        No data found!
    </div>
}

<br />
<br />

<table border="1" style="width: 120%; border-collapse: collapse;">
    <tr>
        <td style="width: 20%; padding: 10px; font-weight: bold; vertical-align: middle;">1. Attendance</td>
        <td style="width: 10%; padding: 10px; vertical-align: top;">
            <form id="attendanceForm" action="@Url.Action("SaveAttendance", "HR")" method="post">
                @* @Html.Hidden("regId", firstItem.REG_ID)*@
                @if (firstItem != null)
                {
                    @Html.Hidden("regId", firstItem.REG_ID)
                }
                else
                {
                    @Html.Hidden("regId", null)
                }

                <label for="attendance" style="font-weight: bold; color: #333;"></label><br>
<<<<<<< HEAD
                @*<select id="attendance" name="attendance" style="width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 14px;">

        @if (firstItem != null)
        {
            <option value="0" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 0 ? "selected" : "")>0</option>
            <option value="1" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 1 ? "selected" : "")>1</option>
            <option value="2" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 2 ? "selected" : "")>2</option>
            <option value="3" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 3 ? "selected" : "")>3</option>
            <option value="4" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 4 ? "selected" : "")>4</option>
            <option value="5" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 5 ? "selected" : "")>5</option>
        }
        else
        {
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            }
        </select>*@

            <select id="attendance" name="attendance" style="width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 14px;">
                @for (int i = 0; i <= 5; i++)
                {
            <option value="@i" @((ViewBag.AttendanceValue != null && (int)ViewBag.AttendanceValue == i) ? "selected" : "")>@i</option>}
            </select>
=======
                <select id="attendance" name="attendance" style="width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 14px;">

                @if (firstItem != null)
                {
                    <option value="0" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 0 ? "selected" : "")>0</option>
                    <option value="1" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 1 ? "selected" : "")>1</option>
                    <option value="2" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 2 ? "selected" : "")>2</option>
                    <option value="3" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 3 ? "selected" : "")>3</option>
                    <option value="4" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 4 ? "selected" : "")>4</option>
                    <option value="5" @(firstItem.Attendance != null && Convert.ToInt32(firstItem.Attendance) == 5 ? "selected" : "")>5</option>
                }
                else
                {
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    }
<<<<<<< HEAD
=======
                    else
                    {
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    }

@*                    @{
                    int? attendanceValue = firstItem != null ? (int?)firstItem.Attendance : (int?)null;
                    }

                    @for (int i = 0; i <= 5; i++)
                    {
                        <option value="@i" @(attendanceValue.HasValue && attendanceValue.Value == i ? "selected" : "")>@i</option>
                    }*@

>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
                </select>
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede
                <br>
                <input type="submit" value="Save" style="background-color: #007bff; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer;">
            </form>
        </td>
        <td style="padding: 5px; width: 70%; ">
            <ul style="list-style-type: none; margin: 0; padding: 0; text-align: left ;padding-left: 10px">
                <li><strong>5</strong> = No late for work or absence record during the appraisal period.</li>
                <li><strong>4</strong> = 12 times or less late at work or 12 times or less of early leave (<8hrs) during the appraisal period. </li>
                <li><strong>3</strong> = 24 times or less late at work or 24 times or less early leave (<8hrs) during the appraisal period.</li>
                <li><strong>2</strong> = 3 times or more of absence record during the appraisal period or more than 24 times late at work or more than 24 times of early leave (<8hrs) during the appraisal period.</li>
                <li><strong>1</strong> = Habitual Late, absence & early leave (As per job card during the appraisal period).</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px; font-weight: bold; vertical-align: middle;">2. Discipline</td>
        <td style="padding: 10px; vertical-align: top;">
            <form id="disciplineForm" action="@Url.Action("SaveDiscipline", "HR")" method="post">
                @* @Html.Hidden("regId", firstItem.REG_ID)*@
                @if (firstItem != null)
                {
                    @Html.Hidden("regId", firstItem.REG_ID)
                }
                else
                {
                    @Html.Hidden("regId", null)
                }
                <label for="discipline" style="font-weight: bold; color: #333;"></label><br>
<<<<<<< HEAD
                @* <select id="discipline" name="discipline" style="width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 14px;">
=======
                <select id="discipline" name="discipline" style="width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 14px;">
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede

            @if (firstItem != null)
            {
                <option value="0" @(firstItem.Discipline != null && Convert.ToInt32(firstItem.Discipline) == 0 ? "selected" : "")>0</option>
                <option value="1" @(firstItem.Discipline != null && Convert.ToInt32(firstItem.Discipline) == 1 ? "selected" : "")>1</option>
                <option value="2" @(firstItem.Discipline != null && Convert.ToInt32(firstItem.Discipline) == 2 ? "selected" : "")>2</option>
                <option value="3" @(firstItem.Discipline != null && Convert.ToInt32(firstItem.Discipline) == 3 ? "selected" : "")>3</option>
                <option value="4" @(firstItem.Discipline != null && Convert.ToInt32(firstItem.Discipline) == 4 ? "selected" : "")>4</option>
                <option value="5" @(firstItem.Discipline != null && Convert.ToInt32(firstItem.Discipline) == 5 ? "selected" : "")>5</option>
            }
            else
            {
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            }
        </select>*@
            <select id="discipline" name="discipline" style="width: 100%; padding: 5px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 14px;">
                @for (int i = 0; i <= 5; i++)
                {
            <option value="@i" @((ViewBag.DisciplineValue != null && (int)ViewBag.DisciplineValue == i) ? "selected" : "")>@i</option>}
            </select>
                <br>
                <input type="submit" value="Save" style="background-color: #007bff; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer;">
            </form>
        </td>
        <td style="padding: 10px;text-align:left">
            <ul style="list-style-type: none; margin: 0; padding-left: 10px;">
                <li><strong>5</strong> = No disciplinary record, always follow supervisor’s and working instructions. </li>
                <li><strong>4</strong> = Verbal warning.</li>
                <li><strong>3</strong> = Written warning.</li>
                <li><strong>2</strong> = Written warning with suspension.</li>
                <li><strong>1</strong> = Held up of increment & promotion.</li>
            </ul>
        </td>
    </tr>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

@section scripts {
    <script>
        $(document).ready(function () {
            var kraAverages = {};
            $(".marks-select").on("change", function () {
                var kra = $(this).data("kra");
                var outcome = $(this).data("outcome");
                var selectedValue = parseInt($(this).val());

                console.log("KRA:", kra);
                console.log("Outcome:", outcome);
                console.log("Selected Value:", selectedValue);

                calculateAverage(kra);
            });

            function calculateAverage(kra) {
                var totalMarks = 0;
                var rowCount = 0;

                $(".marks-select[data-kra='" + kra + "']").each(function () {
                    var marks = parseInt($(this).val());
                    if (!isNaN(marks)) {
                        totalMarks += marks;
                        rowCount++;
                    }
                });

                if (rowCount > 0) {
                    var average = totalMarks / rowCount;
                    console.log("Average for KRA " + kra + ": " + average.toFixed(2));

                    kraAverages[kra] = average;

                    $(".average-input[data-kra='" + kra + "']").val(average.toFixed(2));
                }
            }

        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            alert(successMessage);
        }
        });
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======

>>>>>>> 2fb5633e7882b0cde4cce6838b80756d8d12b3e8
>>>>>>> b2b30358692f5e62f581fbf040a7526cf4477f93
>>>>>>> 9137fd13b8647680fe231d4a419dc66726002065
>>>>>>> 9eef72775c1358dcd3be9836d37cf6dc56b6e5c9
>>>>>>> e23d7850cc7b2ead710a29effff713f83be27a86
>>>>>>> d9006b5ac04096af6a96775f4d6667f2d621d430
>>>>>>> cd15dc3f4cb7dd500e30d1acd2bff531d2316ede

        // filter data function
        $(function () {
            $('#taxPeriodDropdownMV').change(function () {
                var selectedSession = $(this).val();

                $.ajax({
                    url: '@Url.Action("GetFilteredMarksData", "Home")',
                    type: 'GET',
                    data: { selectedSession: selectedSession },
                    success: function (response) {
                        $('tbody').empty();

                        response.forEach(function (item) {
                            var newRow = '<tr>' +
                                '<td>' + item.KPI_OUTCOME + '</td>' +
                                '<td>' + item.Marks_Achieved + '</td>' +
                                '<td></td>' +
                                '</tr>';

                            $('tbody').append(newRow);
                        });

                        if (response.length > 0) {
                            $('table thead').show();
                        } else {
                            $('table thead').hide();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
}


